.container--homepage {
  background: $ibm-colors__gray--100;
  color: $ibm-colors__white;

  h2, h3, h4, h5, h6, p, li {
    color: $ibm-colors__white;
  }

  a {
    color: $ibm-colors__blue--40;
  }
}

.container--homepage h3 {
  margin-top: rem(64px);
  padding-bottom: $spacing-lg;
}

.container--homepage .page-content {
  padding-top: 0;
  position: relative;
}

.container--homepage .ibm--row {
  position: relative;
  z-index: 2;
}

.homepage--section {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
}

.homepage--section > div > p {
  width: 50%;
}

.homepage--section > div > p > a {
  color: $ibm-colors__blue--40;
}

.container--homepage .ibm--row.homepage--header {
  height: rem(560px);
  overflow: hidden;
  position: static;

  div {
    position: relative;
    z-index: 3;
  }
}

.homepage--header__title {
  position: absolute;
  bottom: 3.5rem;
  z-index: 3;
}

.homepage--header img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.homepage--intro {
  position: relative;
  background: $ibm-colors__black;
  padding-top: 3.5rem;
  padding-bottom: 6rem;
  margin-bottom: $spacing-xl;
  z-index: 2;
}

.homepage--intro a {
  color: $ibm-colors__white;
}

.homepage--intro h2 {
  padding-bottom: $spacing-xl;
  max-width: 80%;
  font-size: rem(32px);
  line-height: rem(40px);
}

.homepage--footer {
  position: relative;
  padding: 4rem $spacing-md 9rem;
  background-color: $ibm-colors__blue--90;
  z-index: 2;
}

.homepage--footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homepage--footer h2 {
  max-width: 70%;
  font-size: rem(32px);
  line-height: rem(40px);
}

.homepage--footer a {
  display: flex;
  align-items: center;
  color: $ibm-colors__blue--40;
  text-decoration: none;
  margin-top: $spacing-lg;
}

.homepage--footer a:hover {
  text-decoration: underline;
}

.homepage--footer svg {
  margin-left: $spacing-md;
  fill: $ibm-colors__blue--40;
}

.homepage--dots {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: -16px;
  background: transparent;
  background-image: radial-gradient(#2f302d 1px, transparent 0);
  background-size: 16px 16px;
  background-position-x: -36px;
}
