.side-nav__closed,
.side-nav__closed--final {
  border-right-width: 0;
  transform: translate(-16rem);
  will-change: transform;
  transition: transform 0.11s cubic-bezier(0.2, 0, 1, 0.9);
}

@include breakpoint('lg') {
  .bx--side-nav.side-nav,
  .side-nav__closed,
  .side-nav__closed--final {
    border-right-width: 1px;
    width: rem(256px);
    transform: translate(0rem);
  }
}

//===================
// SIDE NAV click to close
//===================

.side-nav-click-to-close {
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

@include breakpoint('lg') {
  .side-nav-click-to-close {
    display: none;
  }
}

.side-nav-click-to-close__closed {
  display: none;
}
