* {
   
}

h2 {
    /*color: #152935;*/
    font-size: 1.75rem;
    font-weight: 300;
    margin-top: 6rem;
    padding: 1rem 0 3rem;
}

h2:before {
    background-color: #3057d5;
    content: "";
    display: block;
    height: .3rem;
    left: 0;
    position: absolute;
    top: -.5rem;
    width: 5rem;
}

h3 {
    color: #3057d5;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0;
    padding: 4rem 0 1rem;
}

ol, ul {
    font-size: 1rem;
    line-height: 1.75;
    padding: 0;
    margin: 1rem 0 1rem 1.5rem;
    max-width: 38rem;
    font-size: 16px;
}

li {
    font-weight: 400;
    margin: 0;
    padding-left: .25rem;
}

p {
    line-height: 1.5;
    max-width: 38rem;
    padding: 0 0 1rem;
    font-size: 16px;
}

a {
    color: #3057d5;
    font-weight: 600;
}

page-intro {
    /*color: #152935;*/
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5;
    max-width: 38rem;
    padding-bottom: 1rem;
    word-wrap: break-word;
    margin-top: 60px;
}