.component-variation {
  margin: 3rem 0 6rem;
}

.component-variation__name + p {
  padding-bottom: 0;
}

.code-page__react-version {
  display: flex;
  align-items: center;
  margin-top: -4rem;

  svg {
    margin-right: 0.35rem;
    width: 32px;
    height: 32px;
  }
}

.code-page__react-version + .page_md h3 {
  padding-top: 3rem;
}
