// Clears styles for nested grid components
.container .ibm--row .ibm--row {
    margin: 0;
}

.container .ibm--row .ibm--row > div {
    margin: 0;
    max-width: 100%;
    flex: auto;
}

.container .ibm--bleed-left {
    padding-left: 0;
}

.container .ibm--bleed-right {
    padding-right: 0;
}

// Bleed class names
.container {
    .ibm--bleed-lg {
        @include breakpoint('lg') {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .ibm--bleed-md {
        @include breakpoint('md') {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .ibm--bleed-sm {
        @include breakpoint('sm') {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .ibm--bleed-left-lg {
        @include breakpoint('lg') {
            padding-left: 0;
        }
    }

    .ibm--bleed-left-md {
        @include breakpoint('md') {
            padding-left: 0;
        }
    }

    .ibm--bleed-left-sm {
        @include breakpoint('sm') {
            padding-left: 0;
        }
    }
}
