.tile-group {
  display: flex;
  flex-wrap: wrap;

  a.tile--resource {
    max-width: rem(320px);
    height: rem(160px);
    min-height: rem(160px);
    width: 50%;
    flex-basis: 50%;

    &:nth-child(1),
    &:nth-child(3) {
      border-right: 1px solid #595555;
    }

    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: 1px solid #595555;
    }
  }

  a.tile--article {
    margin-right: 0;
    border-right: 1px solid #595555;

    &:last-child {
      border-right: none;
    }
  }
}
