.feature-tile--margin {
  margin-bottom: $spacing-lg;
}

a.feature-tile {
  display: block;
  text-decoration: none;

  // full bleed for tiles on mobile
  @include breakpoint('sm') {
    width: calc(100% + 2rem);
    margin-left: -1rem;
  }

  @include breakpoint('lg') {
    width: 100%;
    margin: 0;
  }
}

.tile__img .gatsby-resp-image-wrapper {
  margin: 0 !important; //needed to override automatic gatsby styles
  max-width: 100% !important; //needed to override automatic gatsby styles
}

.feature-tile__tile {
  @include breakpoint('sm') {
    width: 100%;
    position: relative;
  }

  @include breakpoint('md') {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @include breakpoint('lg') {
    width: 25%;
  }  
}

a.feature-tile:hover .feature-tile__info {
  background-color: $ibm-colors__gray--80;
}

.feature-tile__info {
  background-color: $ibm-colors__gray--90;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.feature-tile__info p {
  padding-bottom: 0;
  line-height: 1.25;
}

.feature-tile__icon {
  position: absolute;
  bottom: rem(14px);
  right: $spacing-md;
  fill: $ibm-colors__gray--30;
}

.feature-tile__label {
  @include type-style('body-short-01');
  color: $ibm-colors__gray--30;
}

.feature-tile__title {
  @include type-style('heading-03');
  color: $ibm-colors__gray--10;
}


