.feature-tile--margin {
  margin-bottom: $spacing-06;
}

a.feature-tile {
  display: block;
  text-decoration: none;
  width: 100%;

  @include carbon--breakpoint('md') {
    height: 320px;
  }

  @include carbon--breakpoint('lg') {
    height: auto;
  }
}

.tile__img .gatsby-resp-image-wrapper {
  background: transparent;
  margin: 0 !important; //needed to override automatic gatsby styles
  max-width: 100% !important; //needed to override automatic gatsby styles
}

.feature-tile__tile {
  @include carbon--breakpoint('sm') {
    width: 100%;
    position: relative;
  }

  @include carbon--breakpoint('md') {
    width: 50%;
    position: absolute;
    right: 1rem;
    bottom: 0;
  }

  @include carbon--breakpoint('lg') {
    width: 25%;
  }
}

a.feature-tile:hover .feature-tile__info {
  background-color: $carbon--gray-80;
}

.feature-tile__info {
  background-color: $carbon--gray-90;
  padding: $spacing-05;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

.feature-tile__info p {
  padding-bottom: 0;
  line-height: 1.25;
}

.feature-tile__icon {
  position: absolute;
  bottom: rem(14px);
  right: $spacing-05;
  fill: $carbon--gray-30;
}

.feature-tile__label {
  @include carbon--type-style('body-short-01');
  color: $carbon--gray-30;
}

.feature-tile__title {
  @include carbon--type-style('expressive-heading-03', true);
  color: $carbon--gray-10;
}

.feature-tile .tile__img .bx--aspect-ratio {
  @include carbon--breakpoint('md') {
    padding: 0;
    height: 100%;
  }
}

.feature-tile .tile__img .bx--aspect-ratio--object {
  @include carbon--breakpoint('md') {
    position: static;
    height: 100%;
  }
}

.feature-tile--designers .tile__img {
  @include carbon--breakpoint('md') {
    height: 100%;
  }
}

.feature-tile--developers .tile__img {
  .gatsby-resp-image-image {
    object-fit: cover;
    object-position: left;
  }

  @include carbon--breakpoint('md') {
    height: 100%;
    background: $carbon--black-100;

    .gatsby-resp-image-image {
      object-fit: contain;
    }
  }
}
