$type-scale: 0.75rem, 0.875rem, 1rem, 1.125rem, 1.25rem, 1.5rem, 1.75rem, 2rem,
  2.25rem, 2.625rem, 3rem, 3.375rem, 3.75rem, 4.25rem, 4.75rem, 5.25rem, 5.75rem;

.typography-table {
  overflow-x: scroll;
  max-width: 45rem;
  width: 100%;

  table tbody td {
    white-space: nowrap;
  }

  @for $i from 1 through length($type-scale) {
    table tbody tr:nth-child(#{$i}) td:nth-child(3) {
      font-size: nth($type-scale, $i);
      white-space: nowrap;
      color: $color__navy-gray-6;
      width: 50%;
    }
  }
}
