$type-scale: 0.75rem, 0.875rem, 1rem, 1.125rem, 1.25rem, 1.5rem, 1.75rem, 2rem,
  2.25rem, 2.625rem, 3rem, 3.375rem, 3.75rem, 4.25rem, 4.75rem, 5.25rem, 5.75rem;

.typography-table {
  overflow-x: scroll;
  background: $carbon--white-0;
  border-bottom: rem(1px) solid $carbon--gray-20;

  table tbody tr {
    border: none;
  }

  table thead th {
    border: none;
    color: $carbon--gray-50;
    @include carbon--type-style('caption-01');
    padding: 1rem;
    text-align: left;
  }

  table tbody td {
    white-space: nowrap;
    border: none;
    height: auto;
    padding: 0 1rem;
    font-size: 0.75rem;
  }

  @for $i from 1 through length($type-scale) {
    table tbody tr:nth-child(#{$i}) td:nth-child(2) {
      font-size: nth($type-scale, $i);
      white-space: nowrap;
      color: $carbon--gray-80;
      width: 50%;
    }
  }
}
