// Example
.example {
  margin-bottom: rem(24px);
  width: 100%;
}

.example--dark .example-card {
  background: $ibm-colors__gray-90;
  color: $ibm-colors__white;
}

.example__content {
  font-size: 1.25rem;
  font-weight: 300;
  width: 100%;

  .gatsby-resp-image-link {
    width: 100%;
  }

  img {
    margin-bottom: 0;
  }
}

.example-card {
  background: $ibm-colors__white;
  width: 100%;
  position: relative;
}

.example .example-card__content {
  position: relative;
}

.example--square .example-card {
  padding-top: 100%;
}

.example--square .example-card__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.example__text {
  padding: 10%;
  font-weight: 300;
  font-size: rem(24px);
  line-height: 1.25;
}

.example-image {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.example-card::before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 3px;
  z-index: 1;
}

.example--correct .example-card::before {
  background: $ibm-colors__green-50;
}

.example--incorrect .example-card::before {
  background: $ibm-colors__magenta-50;
}

.example__icon {
  display: block;
  position: absolute;
  left: calc(1rem - 1px);
  top: calc(1rem - 1px);
  z-index: 10;
  width: 24px;
  height: 24px;
}

.example__icon--correct {
  fill: $ibm-colors__green-50;
}

.example__icon--incorrect {
  fill: $ibm-colors__magenta-50;
}

.example__caption {
  padding: 8px 0 0 0;
}

p.example__title {
  @include carbon--type-style('body-short-01');
  margin: 0;

  @media (orientation: landscape) {
    padding: 0 25% 0 0;
  }

  @include breakpoint('md') {
    padding: 0 25% 0 0;
  }
}

p.example__description {
  @include carbon--type-style('body-short-01');
  @include font-smoothing;
  margin: 0;
  padding: 0;
  padding-bottom: rem(24px);
}

.example__caption {
  @include breakpoint('sm') {
    width: 100%;
  }

  @include breakpoint('md') {
    width: 75%;
  }
}

.ibm--col-lg-12 .example__caption { 
  @include breakpoint('md') {
  width: 50%;
  }
}

.example span.gatsby-resp-image-wrapper {
  max-width: 100% !important; // marked !important to overcome inline styles inserted by gatsby.
}

// Example video content
.example__content .gatsby-resp-iframe-wrapper {
  height: 100% !important;
  position: static !important;
}
