// Example Group
.do-dont-group {
  margin-bottom: rem(24px);

  @include breakpoint('md') {
    display: flex;
  }
}

// Example
.example {
  margin-bottom: rem(24px);

  @include breakpoint('sm') {
    width: 100%;
  }

  @include breakpoint('md') {
    width: calc(50% - 16px);
  }

  &:first-child {
    @include breakpoint('sm') {
      margin-right: 0;
    }

    @include breakpoint('md') {
      margin-right: rem(32px);
    }
  }
}

.example-card {
  background: $ibm-colors__white;
  padding-top: 100%;
  width: 100%;
  position: relative;
}

.example--dark .example-card {
  background: $ibm-colors__gray-90;
  color: $ibm-colors__white;
}

.example-card__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example__content {
  font-size: 1.25rem;
  font-weight: 300;
  width: 100%;

  .gatsby-resp-image-link {
    width: 100%;
  }

  img {
    margin-bottom: 0;
  }
}

p.example__text {
  padding: 10%;
  font-weight: 300;
  font-size: rem(24px);
  line-height: 1.25;
}

.example-image {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.example-card::before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 3px;
  z-index: 1;
}

.example--correct .example-card::before {
  background: $ibm-colors__green-50;
}

.example--incorrect .example-card::before {
  background: $ibm-colors__magenta-50;
}

.example__icon {
  display: block;
  position: absolute;
  left: calc(1rem - 1px);
  top: calc(1rem - 1px);
  z-index: 10;
  width: 24px;
  height: 24px;
}

.example__icon--correct {
  fill: $ibm-colors__green-50;
}

.example__icon--incorrect {
  fill: $ibm-colors__magenta-50;
}

.example__caption {
  padding: 8px 0 0 0;
  max-width: rem(352px);
}

p.example__title {
  @include carbon--type-style('body-short-01');
  margin: 0;
  padding: 0 25% 0 0;
}

p.example__description {
  @include carbon--type-style('body-short-01');
  @include font-smoothing;
  margin: 0;
  padding: 0;
  padding-bottom: rem(24px);
}

.example.example--full-width {
  width: 100%;
}
.example.example--full-width:first-child {
  @include breakpoint('sm') {
    margin-right: 0;
  }
}
.example.example--full-width .example-card {
  padding-top: 0;
}
.example.example--full-width .example-card__content {
  position: relative;
}

.example--full-width .example__caption {
  @include breakpoint('sm') {
    width: 100%;
  }

  @include breakpoint('md') {
    width: calc(50% - 16px);
  }
}

.example span.gatsby-resp-image-wrapper {
  max-width: 100% !important; // marked !important to overcome inline styles inserted by gatsby.
}

// Example video content
.example__content .gatsby-resp-iframe-wrapper {
  height: 100% !important;
  position: static !important;
}
