@import 'prefix';
@import 'components/404';
@import 'components/website-footer';
@import 'components/website-switcher';
@import 'components/website-header';
@import 'components/website-header-nav';
@import 'components/website-side-nav';
@import 'components/website-back-to-top-btn';
@import 'components/overlay';
@import 'components/image-component';
@import 'components/swatch-palette-widget';
