// Tile Article

a.tile--article {
  display: flex;
  text-decoration: none;
  color: $text-01;
  flex-direction: column;
  padding: 0;
  background: $ibm-colors__white;

  &:hover {
    background: $ibm-colors__gray--20;
  }

  // full bleed for tiles on mobile
  @include breakpoint('sm') {
    width: 100%;
  }

  @include breakpoint('md') {
    width: 50%;
    margin: 0;
  }

  @include breakpoint('lg') {
    width: 33%;
  }
}

a.tile--article.tile--dark {
  background: $ibm-colors__gray--90;
  color: $ibm-colors__white;
}

a.tile--article.tile--dark:hover {
  background: $ibm-colors__gray--80;
}

.tile--article .tile__img {
  margin: 0;
  overflow: hidden;
  border-bottom: none;
}

.tile--article .tile__img img {
  width: 100%;
}

.tile--article .tile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-md $spacing-md 5.5rem;

  @include breakpoint('md') {
    padding-right: 25%;
  }
}

.tile--article .tile__info h5 {
  text-decoration: none;
  color: $text-01;
  @include type-style('heading-02');
}

.tile--article.tile--dark .tile__info h5 {
  color: $ibm-colors__white;
}

.tile--article .tile__caption p {
  padding: 0;
  max-width: 75%;
}

p.tile__author {
  margin: 0;
  padding-bottom: 0;
  color: $text-01;
}

.tile--article.tile--dark p.tile__author {
  color: $ibm-colors__white;
}

.tile__divider {
  padding-bottom: rem(3px);
}

.tile__date {
  @include type-style('caption-01');
  color: $text-01;
}

.tile--article.tile--dark .tile__date {
  color: $ibm-colors__white;
}


// Tile Resource

.tile--resource {
  // full bleed for tiles on mobile
  @include breakpoint('sm') {
    width: 100%;
  }

  @include breakpoint('md') {
    width: calc(50% - 1px);
    margin: 0;
  }
}

.tile--resource a.bx--tile {
  text-decoration: none;
  color: $text-01;
  padding: $spacing-md;
  position: relative;
  background: $ibm-colors__white;
  height: 100%;

  &:hover {
    background: $ibm-colors__gray--20;
  }
}

.tile--resource.tile--dark a.bx--tile {
  background: $ibm-colors__gray--90;
  color: $ibm-colors__white;
}

.tile--resource.tile--dark a.bx--tile:hover  {
  background: $ibm-colors__gray--80;
}

.tile--resource .tile__info {
  width: 100%;

  @include breakpoint('lg') {
    width: 75%;
  }
}

.tile--resource .tile__info  h5 {
  display: block;
  width: 100%;
  text-decoration: none;
  color: $text-01;
  margin: 0 0 $spacing-xs 0;
  padding: 0 0 0 0;
  @include type-style('body-short-01');
}

.tile--resource.tile--dark .tile__info h5 {
  color: $ibm-colors__white;
}

.tile--resource .tile__description {
  padding-bottom: 0;
  color: $text-01;
}

.tile--dark .tile__description {
  color: $ibm-colors__white;
}

.tile--resource .tile__img {
  width: 32px;
  height: 32px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: absolute;
  left: $spacing-md;
  bottom: $spacing-md;

  img {
    width: 100%;
    margin: 0;
  }
}

.tile--resource .tile__link-icon {
  position: absolute;
  right: $spacing-md;
  bottom: $spacing-md;
  width: 20px;
  height: 20px;

  svg {
    fill: $ibm-colors__black;
  }
}

.tile--dark .tile__link-icon {
  svg {
    fill: $ibm-colors__white;
  }
}

// Grouped tiles
.flex-wrap {
  .tile--resource {

    @include breakpoint('sm') {
      border-bottom: 1px solid $ibm-colors__gray--20; 

      &.tile--dark {
        border-bottom-color: $ibm-colors__black; 
      }
    }

    @include breakpoint('md') {
      border: 1px solid transparent;
      border-bottom: none;
      border-right: none;

      &:nth-child(2n + 2) {
        border-left: 1px solid $ibm-colors__gray--20; 

        &.tile--dark {
          border-left-color: $ibm-colors__black; 
        }
      }

      &:nth-child(n + 3) {
        border-top: 1px solid $ibm-colors__gray--20;
        
        &.tile--dark {
          border-top-color: $ibm-colors__black; 
        }
      }
    }
  }

  a.tile--article {
    @include breakpoint('sm') {
      border-bottom: 1px solid $ibm-colors__gray--20; 

      &:last-child {
        border: none;
      }
    }

    @include breakpoint('md') {
      border-bottom: none;
      border-right: 1px solid $ibm-colors__gray--20; 

      // selects every 3rd item and removes right border
      &:nth-child(2n+2) {
        border-right: none;
      }

      &:nth-child(n + 3) {
        border-top: 1px solid $ibm-colors__gray--20; 
      }
    }

    @include breakpoint('lg') {
      border-bottom: none;
      border-right: 1px solid $ibm-colors__gray--20; 

      &:nth-child(2n+2) {
        border-right: 1px solid $ibm-colors__gray--20; 
      }

      // selects every 3rd item and removes right border
      &:nth-child(3n+3) {
        border-right: none;
      }

      &:nth-child(n + 4) {
        border-top: 1px solid $ibm-colors__gray--20; 
      }
    }
  }

  a.tile--article.tile--dark {
    border-color: $ibm-colors__black; 
  }
}
