.component-docs > h2 + div > h3:first-child,
.component-docs > h2 + div > h4:first-child {
  padding-top: 0 !important;
}

//todo make this use the carbon code component. inject class somehow??
body .component-docs pre[class*='language-'] {
  font-size: 0.75rem;
  line-height: 1.45;
  background: $ui-05;
  padding: 0.5rem 3rem 0.5rem 1.5rem !important;
  margin-bottom: 1.5rem !important;
  border-radius: 0;
}

body .component-docs code[class*='language-'] {
  background: transparent;
}
