.component-docs > h2 + div > h3:first-child,
.component-docs > h2 + div > h4:first-child {
  padding-top: 0 !important;
}

//todo make this use the carbon code component. inject class somehow??
.component-docs pre[class*='language-'] {
  font-size: 0.75rem;
  line-height: 1.45;
  background: #fff;
  border: 1px solid #dfe3e6;
  padding: 1rem 3rem 2rem 1.5rem !important;
  max-width: 37.5rem;
  margin-bottom: 1.5rem !important;
}
