//===================
// SIDE NAV
//===================

// Skip content
.skip-to-content {
  @include hidden;

  &:focus {
    width: auto;
    height: auto;
    overflow: visible;
    clip: initial;
    z-index: 8000;
  }
}

.side-nav {
  @include typescale('zeta');
  @include layer('temporary-nav');
  display: flex;
  flex-direction: column; 
  background-color: $ui-01;
  border-right: 2px solid $ui-02;
  width: rem(256px);
  height: 100%;
  padding: $spacing-md 0;
  position: fixed;
  z-index: 7000;
  transition: $transition--base $bx--standard-easing;

  @media screen and (min-width: 840px) {
    box-shadow: none;
  }
}

.side-nav__closed {
  transform: translateX(-100%);
  overflow: inherit;
}

.side-nav__closed--final {
  display: none;
}

.side-nav--items {
  overflow-y: scroll;
  width: 100%;
}

//===================
// SIDE NAV click to close
//===================

.side-nav-click-to-close {
  display: block;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

@media screen and (min-width: 840px) {
  .side-nav-click-to-close {
    display: none;
  }
}

.side-nav-click-to-close__closed {
  display: none;
}

//===================
// SIDE NAV LOGO
//===================
.side-nav__logo {
  @include typescale('epsilon');
  display: inline-block;
  color: $text-01;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.2;
  margin: $spacing-md $spacing-md $spacing-md 20px;
  white-space: nowrap;
  padding: 0 $spacing-md 0 0;

  &:hover {
    color: $brand-01;
  }

  &:focus {
    text-decoration: underline;
    outline: none;
    color: $brand-01;
  }
}

.side-nav__logo span {
  font-weight: 600;
}

//===================
// SIDE NAV SEARCH
//===================
.side-nav__search {
  margin: 0 $spacing-md $spacing-xl;
}

//===================
// NAV ITEMS
//===================
.side-nav__nav-items {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-bottom: $spacing-2xl;
}

.side-nav__nav-item a,
.side-nav__nav-item button {
  @include typescale('zeta');
  cursor: pointer;
  padding: $spacing-2xs $spacing-md $spacing-2xs $spacing-md;
  height: rem(32px);
  color: $ibm-colors__gray--70;
  border: none;
  font-weight: 600;
  letter-spacing: 0.01rem;
  background: transparent;
  line-height: 1.5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  text-decoration: none;
  border-left: 4px solid transparent;

  &:focus {
    color: $ibm-colors__gray--100;
    text-decoration: underline;
    outline: none;
  }

  &:hover {
    color: $ibm-colors__gray--100;
    background: $ui-02;
  }

  @media all and (max-width: 620px) {
    @include typescale('epsilon');
    padding-bottom: $spacing-md;
  }
}

.side-nav__nav-item--arrow {
  height: rem(10px);
  width: rem(10px);
  fill: $ibm-colors__gray--40;
  transition: 0.3s;
}

.side-nav__nav-item--active > a {
  color: $ibm-colors__gray--100;
  border-left: 4px solid $ibm-colors__blue--60;
}

.side-nav__nav-item--open .side-nav__nav-item--arrow {
  transform: rotate(-180deg);
}

.side-nav__nav-item--open .side-nav__sub-nav {
  margin-top: 0;
  max-height: 100rem;
}

//===================
// SUB NAV ITEMS
//===================
.side-nav__sub-nav {
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
}

.side-nav__sub-nav-item {
  border-left: 4px solid transparent;
  padding: 0 $spacing-lg;

  &:hover {
    background: $ui-02; //#e0e0e0;  color to match other design/ websites. 
  }
}

.side-nav__sub-nav-item a {
  font-weight: 400;
  padding: $spacing-2xs $spacing-2xs $spacing-2xs 0;
  text-decoration: none;

  @media all and (max-width: 620px) {
    @include typescale('epsilon');
    padding-bottom: $spacing-sm;
  }
}

.side-nav__sub-nav-item--active {
  border-left: 4px solid $ibm-colors__blue--60;
}

.side-nav__sub-nav-item--active a {
  font-weight: 600;
  color: $ibm-colors__gray--100;
}

//===================
// SIDE NAV LINKS
//===================
.side-nav__links {
  width: 100%;
  padding: 0 $spacing-md;
}

.side-nav__link {
  width: 100%;
  margin-bottom: $spacing-md;
  display: flex;
  justify-content: space-between;
  border-color: $brand-01;
  color: $brand-01;

  &:hover,
  &:focus {
    background: $brand-01;
  }

  &:focus {
    outline-color: $brand-01;
  }
}
