.component-example {
  width: 100%;
  max-width: 100%;
  display: block;
  color: $color__white;
  margin-bottom: 6rem;

  &__live {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: rem(200px);
    position: relative;
    padding: 2rem 2rem 2.5rem;
    margin: 1.5rem 0 0;
    background-color: $ui-02;
    color: $text-01;
    border: 1px solid $ui-03;

    &--light {
      background-color: $ui-01;
    }

    &--rendered {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  &__view-full-render {
    position: absolute;
    right: 0;
    bottom: 0;
    color: $text-02;
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    z-index: 9999;
  }
}

.component-toolbar {
  display: flex;
  align-items: center;
  height: 45px;
  border-left: 1px solid $ui-03;
  border-right: 1px solid $ui-03;
}

.component-toolbar__current {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid $ui-03;

  p {
    @include typescale('zeta');
    color: $text-02;
    font-weight: 600;
    padding: 0 1rem;
  }
}

.component-toolbar__links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 2;

  a {
    @include typescale('zeta');
    padding-left: 1rem;
  }
}

.component-toolbar__switcher {
  display: flex;
  align-items: center;
  border-left: 1px solid $ui-03;
  height: 100%;
  padding-left: 1rem;

  .bx--form-item {
    margin-right: 0;
    margin-bottom: 0;
  }

  .bx--radio-button__label {
    color: $text-02;
  }

  .bx--radio-button-group {
    margin-top: 0;
  }

  .radioButtonWrapper:last-child {
    padding-left: 1rem;
    border-left: 1px solid $ui-03;
  }
}
