.svg--sprite {
  @include hidden;
}

.live-component__variation {
  width: 100%;
  max-width: 1000px;

  & > .primary-button button,
  & > .secondary-button button {
    margin: 0.5rem;
  }

  & > .detail-page-header--no-tabs > .bx--detail-page-header--no-tabs {
    width: 100%;
    left: 0;
    top: 206px;
  }

  & > .detail-page-header--with-tabs > .bx--detail-page-header--with-tabs {
    width: 100%;
    left: 0;
    top: 206px;
  }

  & > .inline-notification .bx--inline-notification {
    display: inline-flex;
    margin-right: 10rem;
  }

  & > .overflow-menu .bx--overflow-menu {
    position: absolute;
    left: 3rem;

    &:last-child {
      left: 15em;
    }
  }

  & .text-input .bx--form-item {
    margin-right: 0;
  }

  & .bx--detail-page-header--with-tabs .bx--tabs {
    background-color: $ui-01;
  }

  & .bx--detail-page-header--with-tabs .bx--tabs__nav--hidden,
  & .tabs .bx--tabs__nav--hidden {
    display: none;

    @include breakpoint('768px') {
      display: flex;
      margin-top: 8px;
    }
  }

  & .tabs .bx--tabs__nav {
    z-index: 6000;
  }

  & .interior-left-nav .bx--interior-left-nav {
    top: 8.5rem;
    max-height: 80vh;
  }

  &
    .interior-left-nav
    .bx--interior-left-nav--collapseable
    .bx--interior-left-nav-collapse {
    margin-bottom: 0;
  }
}

.component-example__live {
  position: relative;

  .button button {
    margin: 0.5rem;
  }

  .data-table > div {
    width: 100%;
  }

  .bx--tooltip__trigger:hover {
    color: inherit;
  }

  & > .interior-left-nav .bx--interior-left-nav {
    position: initial;
    min-height: rem(400px);
  }

  &
    > .interior-left-nav
    .bx--interior-left-nav--collapseable
    .bx--interior-left-nav-collapse {
    margin-bottom: 0;
  }

  & .text-input .bx--text-input {
    min-width: 20rem;
  }

  &
    .detail-page-header
    .bx--detail-page-header.bx--detail-page-header--no-tabs {
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: calc(100% - 4rem);
    .bx--overflow-menu--flip {
      left: auto;
    }
  }

  & .notification > div {
    max-width: 700px;
  }

  &
    .detail-page-header
    .bx--detail-page-header.bx--detail-page-header--with-tabs {
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: calc(100% - 4rem);

    .bx--overflow-menu--flip {
      left: auto;
    }

    .bx--tabs__nav {
      bottom: 0;
    }

    & li:not(.bx--tabs__nav-item--selected) {
      .bx--tabs__nav-link {
        color: $text-01;
      }
    }

    & .bx--tabs__nav-item:hover {
      .bx--tabs__nav-link {
        color: $brand-01 !important;
      }
    }
  }

  & > .dropdown > div {
    width: 100%;
    max-width: 502px;
  }

  & .loading .bx--loading-overlay {
    position: absolute;
  }

  & .notification .bx--inline-notification {
    display: inline-flex;
  }

  & .tabs .bx--tabs__nav--hidden {
    display: none;

    @include breakpoint('768px') {
      display: flex;
    }
  }

  & .tabs .bx--tabs__nav {
    z-index: 6000;
  }

  & .text-input .bx--form-item {
    margin-right: 0;
  }

  & .tabs {
    & > div {
      min-width: 100%;

      @include breakpoint('768px') {
        min-width: 570px;
      }
    }

    .bx--tabs + div {
      padding: 0 !important;
      margin-top: 2rem;
    }

    #tab-panel-1,
    #tab-panel-2,
    #tab-panel-3,
    #tab-panel-4,
    #tab-panel-5 {
      h2 {
        font-size: 1rem;
      }
    }
  }

  & .select .bx--select--inline {
    max-width: 400px;
  }
}

.page-header + div > .bx--tabs {
  background-color: $field-01;

  @include breakpoint('768px') {
    background-color: transparent;
  }
}

.bx--overflow-menu-options {
  z-index: 7000;
}

.bx--detail-page-header--with-tabs .bx--tabs {
  display: block;
}


//---------------------------------------
// UI Shell
//---------------------------------------

.ui-shell.component-example__live--rendered .demo--platform-header {
  position: relative;
}

.carbon-demo-experimental .demo--platform-header ~ .demo--side-nav {
  position: relative;
  top: 0 !important;
}

.ui-shell.component-example__live--rendered .demo--platform__nav {
  top: 5rem;
  left: 2rem;
}

//---------------------------------------
// Experimental Text Input
//---------------------------------------

.carbon-demo-experimental .demo--form-item {
  margin-bottom: $spacing-lg;
}

//---------------------------------------
// Experimental Tooltip
//---------------------------------------

.demo--tooltip {
  @include layer('overlay');
  @include reset;
  position: absolute;
  display: none;
  min-width: rem(208px);
  max-width: rem(288px);
  // Need to add new UI color -- IBM Color Gray 80
  background: $tooltip-background-color;
  margin-top: $spacing-2xs;
  padding: rem(16px) rem(16px) rem(24px) rem(16px);
  border-radius: rem(2px);
  z-index: z('floating');
  word-wrap: break-word;
  // Need to change inverse color to Gray--10 across the board?
  color: $ui-01;

  p {
    @include font-family;
    @include typescale('zeta');
  }

  // Need to change HTML to use small button, not override regular button styles
  button {
    height: auto;
    padding: $button-padding-sm;
    padding-right: rem(32px);
  }

  .demo--link {
    // Need to add new link / UI color -- IBM Color Blue 40
    color: $link-inverse-color;
    font-size: rem(14px);

    &:active {
      color: $ui-01;
    }

    &:vistited {
      color: $link-inverse-color;
    }
  }

  .demo--tooltip__caret {
    position: absolute;
    // Need to add new UI color -- IBM Color Gray 80
    background: $tooltip-background-color;
    left: 0;
    top: rem(-4px);
    right: 0;
    transform: rotate(-135deg);
    width: 0.6rem;
    height: 0.6rem;
    margin: 0 auto;
    content: '';
  }

  .demo--tooltip__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: rem(-16px);
  }

  &[data-floating-menu-direction='left'] {
    .demo--tooltip__caret {
      left: auto;
      top: 50%;
      right: rem(-5px);
      transform: rotate(-45deg) translate(50%, -50%);
    }
  }

  &[data-floating-menu-direction='top'] {
    .demo--tooltip__caret {
      top: auto;
      bottom: rem(-6px);
      transform: rotate(45deg);
    }
  }

  &[data-floating-menu-direction='right'] {
    .demo--tooltip__caret {
      left: rem(-5px);
      top: 50%;
      right: auto;
      transform: rotate(135deg) translate(-50%, 50%);
    }
  }
}

.demo--tooltip--shown {
  display: block;
}
