
//---------------------------------------
// Button
//---------------------------------------
.component-example {
  .button button {
    margin: 0.5rem;
  }
}

//---------------------------------------
// Tabs
//---------------------------------------
.component-example {
  .tabs > div {
    min-width: 100%;

    @include breakpoint('768px') {
      min-width: 570px;
    }
  }

  .tabs .demo--tabs+div {
    padding: 0!important;
    margin-top: 2rem;
  }

  .demo--tabs__nav-item+.demo--tabs__nav-item {
    margin-left: 3rem;
  }
}

//---------------------------------------
// Loading
//---------------------------------------
.component-example .loading .bx--loading-overlay,
.component-example .loading .demo--loading-overlay {
  position: absolute;
}

//---------------------------------------
// Dropdown
//---------------------------------------
.component-example .demo--dropdown {
  line-height: 1;
}
//---------------------------------------
// UI Shell
//---------------------------------------

.ui-shell.component-example__live--rendered .bx--platform-header {
  position: relative;
}

.carbon-demo-experimental .demo--platform-header ~ .bx--side-nav {
  position: relative;
  top: 0 !important;
}

.ui-shell.component-example__live--rendered .bx--platform__nav {
  top: 5rem;
  left: 2rem;
}

.component-example__live.component-example__live--ui-shell {
  padding: 0;
  height: 600px;
}

.component-example__live.component-example__live--ui-shell .component-example__live--rendered {
  position: relative;
  width: 100%;
  height: 100%;
}

.component-example__live.component-example__live--ui-shell .component-example__live--rendered > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.component-example__live.component-example__live--ui-shell .component-example__live--rendered {
  header.bx--header, aside.bx--side-nav, aside.bx--side-nav--overlay {
    position: absolute;
  }
}

//---------------------------------------
// Experimental Notification
//---------------------------------------
.component-example .carbon-bx-experimental .bx--inline-notification {
  display: inline-flex;
}

//---------------------------------------
// Clear form outline styles that aren't prefixed
//---------------------------------------
.carbon-demo-v9 .demo--select--inline .demo--select-input,
.carbon-demo-v9 .demo--select-input[data-invalid],
.carbon-demo-v9 .demo--text-area[data-invalid],
.carbon-demo-v9 .demo--text-input[data-invalid],
.carbon-demo-v9 .demo--date-picker__input[data-invalid] {
  outline: none;
}

.carbon-demo-v9 .demo--form-item {
  margin-bottom: $spacing-lg;
}

//---------------------------------------
// Experimental Notification
//---------------------------------------
.component-example .carbon-demo-experimental .demo--inline-notification {
  display: inline-flex;
}

//---------------------------------------
// Experimental Date Picker
//---------------------------------------
.component-example .carbon-demo-experimental .flatpickr-day.inRange {
  box-shadow: none;
}

.component-example .carbon-demo-experimental .flatpickr-calendar.open {
  margin-top: -1px;
}

.component-example .carbon-demo-experimental .cur-month {
  text-transform: none;
}

.component-example .carbon-demo-experimental .flatpickr-current-month span.cur-month:hover,
.component-example .carbon-demo-experimental .numInputWrapper:hover {
  background: transparent;
}

.component-example .carbon-demo-experimental .numInputWrapper input {
  width: 100%;
}

//---------------------------------------
// Experimental Loading
//---------------------------------------
.component-example .carbon-demo-experimental .demo--loading-overlay {
  position: absolute;
}

//---------------------------------------
// Experimental Tabs
//---------------------------------------
.component-example .carbon-demo-experimental .demo--tabs__nav-item {
  @include breakpoint('768px') {
    padding-right: rem(1px);
  }
}
