.type-weight {
  background: $carbon--white-0;
  padding: $spacing-md;
  margin-bottom: rem(24px);

  p {
    font-size: rem(48px);
    padding: 0;
    line-height: 1.25;
    color: $carbon--gray-80;
  }

  .ibm--type-italic {
    font-style: italic;
  }

  .ibm--type-semibold {
    font-weight: 600;
  }

  .ibm--type-regular {
    font-weight: 400;
  }

  .ibm--type-light {
    font-weight: 300;
  }
}
