//---------------------------------------
// UI Shell
//---------------------------------------

.ui-shell.component-example__live--rendered .demo--platform-header {
  position: relative;
}

.carbon-demo-experimental .demo--platform-header ~ .demo--side-nav {
  position: relative;
  top: 0 !important;
}

.ui-shell.component-example__live--rendered .demo--platform__nav {
  top: 5rem;
  left: 3rem;
}

//---------------------------------------
// Experimental Text Input
//---------------------------------------

.carbon-demo-experimental .demo--form-item {
  margin-bottom: $spacing-lg;
}
