.component-example
  .component-example__live
  .content-switcher
  .bx--content-switcher {
  height: auto;

  @include breakpoint('md') {
    height: 2rem;
  }

  .bx--content-switcher-btn .bx--content-switcher__icon {
    min-width: rem(16px);
    min-height: rem(16px);
  }
}

.component-example
  .component-example__live.component-example__live--code-snippet {
  padding: 2rem 0 2.5rem;

  & > div {
    width: 100%;
  }

  .bx--snippet .bx--snippet--single {
    min-width: 10px;
  }

  @include breakpoint('md') {
    padding: 2rem 2rem 2.5rem;

    & > div {
      width: auto;
    }
  }
}

.bx--website-switcher {
  box-shadow: 0;
}
