//---------------------------------------
// Button
//---------------------------------------
.component-example .button .bx--btn {
  margin: 0.5rem;
}





.component-example
  .component-example__live
  .content-switcher
  .bx--content-switcher {
  height: auto;

  @include carbon--breakpoint('md') {
    height: 2rem;
  }

  .bx--content-switcher-btn .bx--content-switcher__icon {
    min-width: rem(16px);
    min-height: rem(16px);
  }
}

.component-example
  .component-example__live.component-example__live--code-snippet {
  padding: 2rem 0 2.5rem;

  & > div {
    width: 100%;
  }

  .bx--snippet .bx--snippet--single {
    min-width: 10px;
  }

  @include carbon--breakpoint('md') {
    padding: 2rem 2rem 2.5rem;

    & > div {
      width: auto;
    }
  }
}

// APP SWITCHER
.bx--website-switcher {
  box-shadow: none;
}

.bx--website-switcher--expanded {
  box-shadow: 0 rem(2px) rem(8px) rgba(0, 0, 0, 0.2);
}

//PROGRESS INDICATOR
.component-example__live--rendered.progress-indicator {
  .bx--progress-label {
    margin: 0.5rem 0 0 0;
    line-height: 1.45;
  }

  .bx--progress-optional {
    margin-left: 1.5rem;
    margin-top: 1.75rem;
  }
}


//---------------------------------------
// Tabs
//---------------------------------------
.component-example {
  .tabs > div {
    min-width: 100%;

    @include breakpoint('768px') {
      min-width: 650px;
    }
  }

  .tabs .demo--tabs + div {
    padding: 0 !important;
    margin-top: 2rem;
  }

  .demo--tabs__nav-item + .demo--tabs__nav-item {
    margin-left: 3rem;
  }
}

//---------------------------------------
// Loading
//---------------------------------------
.component-example .loading .bx--loading-overlay,
.component-example .loading .demo--loading-overlay {
  position: absolute;
}

//---------------------------------------
// Dropdown
//---------------------------------------
.component-example .demo--dropdown {
  line-height: 1;
}
//---------------------------------------
// UI Shell
//---------------------------------------

.ui-shell.component-example__live--rendered .bx--platform-header {
  position: relative;
}

.carbon-demo-experimental .demo--platform-header ~ .bx--side-nav {
  position: relative;
  top: 0 !important;
}

.ui-shell.component-example__live--rendered .bx--platform__nav {
  top: 5rem;
  left: 2rem;
}

.component-example__live.component-example__live--ui-shell {
  padding: 0;
  height: 600px;
}

.component-example__live.component-example__live--ui-shell
  .component-example__live--rendered {
  position: relative;
  width: 100%;
  height: 100%;
}

.component-example__live.component-example__live--ui-shell
  .component-example__live--rendered
  > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.component-example__live.component-example__live--ui-shell
  .component-example__live--rendered {
  header.bx--header,
  aside.bx--side-nav,
  aside.bx--side-nav--overlay {
    position: absolute;
  }
}

//---------------------------------------
// Experimental Notification
//---------------------------------------
.component-example__live.component-example__live--notification
  .component-example__live--rendered
  > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.component-example .bx--inline-notification {
  display: inline-flex;
}

//---------------------------------------
// Experimental Notification
//---------------------------------------
.component-example .carbon-demo-experimental .demo--inline-notification {
  display: inline-flex;
}

//---------------------------------------
// Experimental Date Picker
//---------------------------------------
.component-example .carbon-demo-experimental .flatpickr-day.inRange {
  box-shadow: none;
}

.component-example .carbon-demo-experimental .flatpickr-calendar.open {
  margin-top: -1px;
}

.component-example .carbon-demo-experimental .cur-month {
  text-transform: none;
}

.component-example
  .carbon-demo-experimental
  .flatpickr-current-month
  span.cur-month:hover,
.component-example .carbon-demo-experimental .numInputWrapper:hover {
  background: transparent;
}

.component-example .carbon-demo-experimental .numInputWrapper input {
  width: 100%;
}

//---------------------------------------
// Experimental Loading
//---------------------------------------
.component-example .carbon-demo-experimental .demo--loading-overlay {
  position: absolute;
}

//---------------------------------------
// Experimental Tabs
//---------------------------------------
.component-example .carbon-demo-experimental .demo--tabs__nav-item {
  @include breakpoint('768px') {
    padding-right: rem(1px);
  }
}
