//---------------------------------------
// Breadcrumb
//---------------------------------------
.page-content .bx--breadcrumb .bx--link {
  font-size: 0.875rem;
}

//---------------------------------------
// Link
//---------------------------------------

.component-example .bx--link {
  font-size: 0.875rem;
}

//---------------------------------------
// Button
//---------------------------------------

.component-example .button .bx--btn {
  margin: $spacing-03;
}

//---------------------------------------
// Notification
//---------------------------------------

.component-example__live.component-example__live--notification
  .component-example__live--rendered
  > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.component-example .bx--inline-notification {
  display: inline-flex;
}

//---------------------------------------
// Loading
//---------------------------------------

.component-example .loading .bx--loading-overlay {
  position: absolute;
}

//---------------------------------------
// Date Picker
//---------------------------------------

// TODO

//---------------------------------------
// Form
//---------------------------------------

.component-example__live .bx--form-item,
.component-example .bx--form-item {
  margin-bottom: $spacing-07;
}

.component-example .bx--form-item.bx--checkbox-wrapper {
  margin-bottom: $spacing-03;
}

//---------------------------------------
// Tabs
//---------------------------------------

.component-example__live--tabs .bx--tabs__nav {
  position: static;
}

.component-example__live .tabs .bx--tabs + div {
  margin-top: $spacing-07;
}

//---------------------------------------
// Tile
//---------------------------------------

.component-example__live--tile .bx--grid {
  outline: 1px dashed #97c1ff;
}

.component-example__live--tile .bx--tile-container .bx--col {
  background: none;
  margin-bottom: $spacing-05;
}

//---------------------------------------
// UI Shell
//---------------------------------------

// ----------DEFAULT---------
.component-example__shell {
  position: relative;
  width: 100%;
}

.component-example__shell header {
  position: absolute;
  top: rem(-16px);
  left: 0;
  z-index: 1;
  transform: none;
}

.website-header-hidden .component-example__shell header {
  transform: none;
}

.component-example__shell nav.bx--side-nav__navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-right: none;
  color: $shell-side-nav-text-01;
  background-color: $shell-side-nav-bg-01;
  transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
}

.component-example__shell nav.bx--side-nav__navigation .bx--side-nav__submenu {
  color: $shell-side-nav-text-01;
}

.component-example__shell
  .bx--side-nav
  a.bx--side-nav__link
  > .bx--side-nav__link-text {
  color: $shell-side-nav-text-01;
}

.component-example__shell .bx--side-nav__submenu > .bx--side-nav__icon,
.component-example__shell a.bx--side-nav__link > .bx--side-nav__icon {
  margin-right: 1.5rem;
}

.component-example__shell nav.bx--side-nav__navigation.bx--side-nav--ux {
  top: 3rem;
  height: carbon--rem(684px);

  @include carbon--breakpoint-down('lg') {
    width: 0;
  }
}

.component-example__shell .bx--side-nav__footer {
  display: none;
}

// ----------EXPANDED---------
.component-example__shell
  .bx--side-nav
  .bx--side-nav__item
  .bx--side-nav__submenu[aria-expanded='true'] {
  color: $shell-side-nav-text-01;
  background-color: $shell-side-nav-bg-01;
}

.component-example__shell
  .bx--side-nav
  .bx--side-nav__item
  .bx--side-nav__submenu[aria-expanded='true']
  .bx--side-nav__icon
  svg,
.component-example__shell
  .bx--side-nav
  .bx--side-nav__item
  .bx--side-nav__submenu[aria-expanded='true']:hover
  .bx--side-nav__icon
  svg,
.component-example__shell
  .bx--side-nav
  .bx--side-nav__item:hover
  .bx--side-nav__submenu[aria-expanded='true']
  .bx--side-nav__icon
  svg {
  fill: $shell-side-nav-text-01;
}

.component-example__shell
  nav.bx--side-nav__navigation.bx--side-nav--ux.bx--side-nav--expanded {
  @include carbon--breakpoint-down('lg') {
    width: 100%;
  }
}

.component-example__shell
  .bx--side-nav__menu[role='menu']
  a.bx--side-nav__link[aria-current='page'] {
  background-color: $shell-side-nav-bg-05;
}

// ----------HOVER---------
.component-example__shell
  .bx--side-nav__item:not(.bx--side-nav__item--active):hover,
.component-example__shell
  .bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__link:hover {
  background-color: $shell-side-nav-bg-04;
  color: $ibm-color__gray-100;

  & .bx--side-nav__icon svg {
    fill: $shell-side-nav-text-01;
  }

  & .bx--side-nav__link-text {
    color: $ibm-color__gray-100;
  }
}

.component-example__shell
  .bx--side-nav__item.bx--side-nav__item--icon:not(.bx--side-nav__item--active):hover,
.component-example__shell
  .bx--side-nav__item.bx--side-nav__item--icon:not(.bx--side-nav__item--active):hover
  > .bx--side-nav__submenu {
  color: $shell-side-nav-text-01;
  background-color: $shell-side-nav-bg-01;

  & svg {
    fill: $shell-side-nav-text-01;
  }
}

.component-example__shell
  .bx--side-nav__menu[role='menu']
  a.bx--side-nav__link[role='menuitem']:not(.bx--side-nav__link--current):not([aria-current='page']):hover,
.component-example__shell
  .bx--side-nav__menu[role='menu']
  a.bx--side-nav__link[role='menuitem']:not(.bx--side-nav__link--current):not([aria-current='page']):hover
  .bx--side-nav__link-text {
  background-color: $shell-side-nav-bg-04;
  color: $ibm-color__gray-100; /// TODO: inspector shows it's applying style, but color doesn't update!!!
}

//---------------------------------------
// Date picker
//---------------------------------------

.component-example .flatpickr-calendar {
  margin-left: -1rem;
  margin-top: -1rem;
}

//---------------------------------------
// Tooltip
//---------------------------------------

.component-example__live .bx--tooltip {
  margin-left: -1rem;
  margin-top: -0.5rem;
}

//---------------------------------------
// Modal
//---------------------------------------

.component-example__live.component-example__live--modal .bx--modal {
  z-index: 10000;
}
