//---------------------------------------
// Global styles
//---------------------------------------

body {
  background: $ui-01;
  line-height: 1.5;
  font-family: $font-family;
}

.side-nav + div, //Issue #51 weird bug where sometimes on reload of the page the classnames on container div disapear 
  .container {
  width: 100%;
  margin-left: 0;
  transition: $transition--base ease;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  margin-top: 48px;
}

.container .ibm--grid {
  margin: 0;
  max-width: rem(1584px);
}

//---------------------------------------
// Header styles
//---------------------------------------
.bx--header {
  z-index: 9999;
}

.bx--header__menu-trigger {
  @include breakpoint('lg') {
    display: none;
  }
}

//---------------------------------------
// Page styles
//---------------------------------------

button,
.side-nav .bx--btn {
  font-family: $font-family;
}

.page-content {
  padding-top: rem(80px);
  padding-bottom: rem(80px);

  // All paragraphs on Markdown pages
  // And divs when markdown doesn't wrap text in paragraphs (when you have to use html for links to open in a new window)
  p {
    //max-width: 38rem;
    line-height: 1.5;
    padding: 0 0 $spacing-lg;
  }

  // All em on Markdown pages after images and image grid
  .gatsby-resp-image-link + em,
  .image-grid + p > em,
  .image-component + p > em {
    @include type-style('body-short-01');
    color: $text-02;
  }

  // Images on component pages
  .image-component {
    background: $ui-02;
    //max-width: 38rem;
    display: flex;
    justify-content: center;
    padding: $spacing-md 0;

    .gatsby-resp-image-link,
    > img {
      width: 50%;
      height: 50%;
    }
  }

  // All links on Markdown pages but not inside component examples
  & > div > * > a,
  .page-table td a,
  .page-ul a {
    color: $brand-01;
    font-weight: 600;
  }

  // Inline code
  p > code,
  li > code,
  td > code {
    @include reset;
    font-family: $font-family-mono;
    position: relative;
    display: inline;
    padding: rem(1px) $spacing-xs;
    background: transparent;
    font-size: inherit;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $ibm-colors__white;
    font-size: 85%;
  }

  // HR dividers
  hr.divider {
    display: block;
    margin: 3rem 0;
    //max-width: 38rem;
    height: 1px;
    background: $ui-03;
    border: 0px transparent;
  }
}

.bx--platform-header {
  z-index: 9999;
}