// 3rem + 2.5rem site header height plus banner height
// 15rem page header height
// 3rem page tabs height

// .website-header-wrapper {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 5000;
// }

// .website-alert {
//   position: static;
// }
// .#{$prefix}--header {
//   position: static;
// }

.page-header {
  position: sticky;
  top: -9rem;
  z-index: 500;
}

.website-alert + .#{$prefix}--header ~ div.container .page-header {
  top: -6.5rem;
}

.page-tabs {
  // position: sticky;
  // top: 0;
  // z-index: 400;
  // transition: top $transition--expansion $carbon--standard-easing;
}

.sticky-header-visible {
  // .page-tabs {
  //   top: calc(3rem + 2.5rem); // height of top header plus any banner
  // }
}
