// 3rem + 2.5rem site header height plus banner height
// 15rem page header height
// 3rem page tabs height

// transitions for going back to "default" (visible) state
.#{prefix}--header__global,
.#{prefix}--header__name,
.#{$prefix}--header,
.website-alert,
.page-header,
.#{$prefix}--side-nav {
  transition: top $carbon--ease-out $transition--expansion;
}
.website-alert + .#{$prefix}--header ~ .#{$prefix}--side-nav + div,
.website-alert + .#{$prefix}--header ~ .#{$prefix}--side-nav + .container,
.website-alert + .#{$prefix}--header ~ .#{$prefix}--website-switcher {
  transition: margin-top $carbon--ease-out $transition--expansion;
}

.page-header {
  position: sticky;
  top: -9rem; // header set to 15rem height. subtract 3rem tabs height & 3rem header height
  z-index: 500;
}

// positioned lower when a 2.5rem alert banner is present
.website-alert + .#{$prefix}--header ~ div.container .page-header {
  top: -6.5rem;
}

/* 

website global header hidden

*/

.website-header-hidden {
  // transitions for hiding the global website header
  .#{prefix}--header__global,
  .#{prefix}--header__name,
  .#{$prefix}--header,
  .website-alert,
  .page-header,
  .#{$prefix}--side-nav {
    transition: top $carbon--ease-in $transition--expansion;
  }
  .website-alert + .#{$prefix}--header ~ .#{$prefix}--side-nav + div,
  .website-alert + .#{$prefix}--header ~ .#{$prefix}--side-nav + .container,
  .website-alert + .#{$prefix}--header ~ .#{$prefix}--website-switcher {
    transition: margin-top $carbon--ease-in $transition--expansion;
  }

  .#{prefix}--header__global,
  .#{prefix}--header__name {
    top: -3rem;
  }

  .page-header {
    top: -12rem;
  }
  .website-alert + .#{$prefix}--header ~ div.container .page-header {
    top: -12rem; // restating for specificity
  }

  .website-alert {
    top: -5.5rem;
  }
  .website-alert + .#{$prefix}--header {
    top: -3rem;
  }

  .website-alert + .#{$prefix}--header ~ .#{$prefix}--side-nav {
    top: 0;
  }

  .website-alert + .#{$prefix}--header ~ .#{$prefix}--side-nav + div,
  .website-alert + .#{$prefix}--header ~ .#{$prefix}--side-nav + .container,
  .website-alert + .#{$prefix}--header ~ .#{$prefix}--website-switcher {
    margin-top: 0;
  }

  .website-alert
    + .bx--header
    ~ .bx--side-nav
    + div
    .color-token-table__theme-switcher--sticky {
    top: 104px; // idk? will need to test/look at this...
  }
}
