//---------------------------------------
// UI Shell demo overrides
//---------------------------------------

.ui-shell.component-example__live--rendered {
    .demo--platform-header {
        position: relative;
    }

    .demo--side-nav {
        position: relative;
        top: 0;
    }
}