/*
    Since we are pulling in both experimental and the default carbon styles 
    some atrributes aren't overwritten between the two sets so we need to
    provide overrides. 
*/

$feature-flags: (); // Dummy value so `global-variable-exists()` check in `@feature-flag-enabled` work

.carbon-demo-experimental {
  $prefix: 'demo';
  $imported-modules-local: ();
  $feature-flags: (
    components-x: true,
    ui-shell: true,
  );
  @import 'carbon-components/src/globals/scss/styles';
}
