/*
    Since we are pulling in both experimental and the default carbon styles
    some atrributes aren't overwritten between the two sets so we need to
    provide overrides.
*/

$css--plex: true; // Dummy value so global-variable-exists() check in @include exports('css--font-face') work

$feature-flags: (

); // Dummy value so `global-variable-exists()` check in `@feature-flag-enabled` work

.carbon-demo-v9 {
  $prefix: 'demo';
  $imported-modules-local: ();
  $feature-flags: (
    components-x: false,
    ui-shell: false,
  );
  @import 'carbon-components/src/globals/scss/styles';
}
