/*
    Since we are pulling in both experimental and the default carbon styles
    some atrributes aren't overwritten between the two sets so we need to
    provide overrides.
*/

$css--plex: true; // Dummy value so global-variable-exists() check in @include exports('css--font-face') work

$feature-flags: (

); // Dummy value so `global-variable-exists()` check in `@feature-flag-enabled` work

.carbon-demo-experimental {
  $prefix: 'demo';
  $imported-modules-local: ();
  $feature-flags: (
    components-x: true,
    ui-shell: true,
  );
  @import 'carbon-components/src/globals/scss/styles';
}

.iconography--experimental .icon-container {
  width: 100%;
}

.iconography--experimental .icon-size {
  margin-top: 4rem;
}

.iconography--experimental .icon__card-title,
.iconography--experimental .icon__card-details {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
