//---------------------------------------
// Carbon Components
//---------------------------------------

$feature-flags: (
  components-x: true,
  ui-shell: true,
);
@import '@carbon/layout/scss/layout.scss';
.container {
  //need this to avoid conflicts with old grid code
  $prefix: 'ibm';
  $imported-modules-local: ();
  @import '@carbon/grid/scss/grid.scss';
}
@import '@carbon/grid/scss/aspect-ratio.scss';
@import '@carbon/type/scss/type.scss';
@import '@carbon/type/scss/_classes.scss';

@import 'carbon-components/scss/globals/scss/styles.scss';
@import '@carbon/addons-website/scss/styles';

//temporary
.bx--aspect-ratio--2x1 {
  padding-bottom: 50%;
}

.bx--codesandbox {
  width: 100%;
  height: 400px;
}

//---------------------------------------
// Page styles
//---------------------------------------
$font-family: 'IBM Plex Sans', 'ibm-plex-sans', 'Helvetica Neue', Arial,
  sans-serif;

@import 'page';

//---------------------------------------
// Components
//---------------------------------------
@import '../components/404/404.scss';
@import '../components/markdown/markdown.scss';
@import '../components/markdown/image-grid.scss';
@import '../components/PageHeader/page-header.scss';
@import '../components/PageTabs/page-tabs.scss';
@import '../components/CodeSnippet/code-snippet.scss';
@import '../components/ClickableTile/clickable-tile.scss';
@import '../components/PageTable/page-table.scss';
@import '../components/DoDontExample/do-dont-example.scss';
@import '../components/ColorBlock/color-block.scss';
@import '../components/ColorCard/color-card.scss';
@import '../components/IconCard/icon-card.scss';
@import '../components/IconEmptyState/icon-empty-state.scss';
@import '../components/TypeScaleTable/type-scale-table.scss';
@import '../components/TypeWeight/type-weight.scss';
@import '../components/TypeSpec/type-spec.scss';
@import '../components/GlossaryNav/glossary-nav.scss';
@import '../components/GlossaryList/glossary-list.scss';
@import '../components/ComponentExample/component-example.scss';
@import '../components/ComponentExample/component-overrides.scss';
@import '../components/CodeExample/code-example.scss';
@import '../components/CodePage/code-page.scss';
@import '../components/ComponentDocs/component-docs.scss';
@import '../components/ComponentStatus/component-status.scss';
@import '../components/ComponentOverview/component-overview.scss';
@import '../components/GlobalSearch/global-search.scss';
@import '../components/LeftNav/left-nav.scss';
@import '../components/Homepage/homepage.scss';
@import '../components/NextPrevious/next-previous.scss';
@import '../components/FeatureTile/feature-tile.scss';
@import '../components/BackToTop/back-to-top.scss';

//---------------------------------------
// Syntax
//---------------------------------------
@import 'prism';
@import 'syntax';
