

//---------------------------------------
// Carbon Components
//---------------------------------------
@import 'node_modules/carbon-components/scss/globals/scss/styles.scss';

//---------------------------------------
// Global styles
//---------------------------------------
@import 'page.scss';

$bright-blue: #3c6df0;
$dark-blue: #3057d5;
$brand-01: $dark-blue;


//---------------------------------------
// Components
//---------------------------------------
@import '../components/markdown/markdown.scss';
@import '../components/PageHeader/page-header.scss';
@import '../components/PageTabs/page-tabs.scss';
@import '../components/CodeSnippet/code-snippet.scss';
@import '../components/ClickableTile/clickable-tile.scss';
@import '../components/PageTable/page-table.scss';
@import '../components/SideNav/side-nav.scss';
@import '../components/SideNavToggleBtn/side-nav-toggle-btn.scss';
@import '../components/Footer/footer.scss';
@import '../components/Example/example.scss';
@import '../components/ColorCard/color-card.scss';
@import '../components/IconCard/icon-card.scss';
@import '../components/IconEmptyState/icon-empty-state.scss';
@import '../components/TypeScaleTable/type-scale-table.scss';
@import '../components/TypeStylesTable/type-styles-table.scss';
@import '../components/TypeWeightTable/type-weight-table.scss';
@import '../components/GlossaryNav/glossary-nav.scss';
@import '../components/GlossaryList/glossary-list.scss';
@import '../components/MotionExample/motion-example.scss';
@import '../components/ComponentCode/component-code.scss';
@import '../components/ComponentExample/component-example.scss';
@import '../components/ComponentExample/component-overrides.scss';
@import '../components/CodeExample/code-example.scss';
@import '../components/CodePage/code-page.scss';
@import '../components/ComponentDocs/component-docs.scss';
@import '../components/ComponentStatus/component-status.scss';
@import '../components/ComponentReact/component-react.scss';

//---------------------------------------
// Syntax
//---------------------------------------
@import 'prism.css';
@import 'syntax.css';
