.icons-list {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  padding-bottom: $spacing-06;
}

.icon__container {
  flex: 0 1 50%;
  position: relative;

  &:nth-child(n) {
    border-top: 1px solid $carbon--gray-20;
    border-left: 1px solid $carbon--gray-20;
  }
  &:nth-child(n):nth-child(-n + 2) {
    border-top: none;
  }
  &:nth-child(2n - 1) {
    border-left: none;
  }
}

@media all and (min-width: 515px) {
  .icon__container {
    flex: 0 1 calc(100% / 3);

    &:nth-child(n) {
      border-top: 1px solid $carbon--gray-20;
      border-left: 1px solid $carbon--gray-20;
    }
    &:nth-child(n):nth-child(-n + 3) {
      border-top: none;
    }
    &:nth-child(3n - 2) {
      border-left: none;
    }
  }
}

@media all and (min-width: 730px) {
  .icon__container {
    flex: 0 1 25%;

    &:nth-child(n) {
      border-top: 1px solid $carbon--gray-20;
      border-left: 1px solid $carbon--gray-20;
    }
    &:nth-child(n):nth-child(-n + 4) {
      border-top: none;
    }
    &:nth-child(4n - 3) {
      border-left: none;
    }
  }
}

@media all and (min-width: 980px) {
  .icon__container {
    flex: 0 1 20%;

    &:nth-child(n) {
      border-top: 1px solid $carbon--gray-20;
      border-left: 1px solid $carbon--gray-20;
    }
    &:nth-child(n):nth-child(-n + 5) {
      border-top: none;
    }
    &:nth-child(5n - 4) {
      border-left: none;
    }
  }
}

@media all and (min-width: 1300px) {
  .icon__container {
    flex: 0 1 calc(100% / 6);

    &:nth-child(n) {
      border-top: 1px solid $carbon--gray-20;
      border-left: 1px solid $carbon--gray-20;
    }
    &:nth-child(n):nth-child(-n + 6) {
      border-top: none;
    }
    &:nth-child(6n - 5) {
      border-left: none;
    }
  }
}

.icon__aspect-ratio {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 100%; // 1:1 square aspect ratio
}

.icon__card {
  // aspect ratio positioning & resizing
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: $ui-02;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  .icon__actions:focus,
  button:focus,
  a:focus {
    .icon__actions {
      opacity: 1;
    }
  }
}

.icon__card-title,
.icon__card-details {
  position: absolute;
  top: rem(12px);
  left: rem(12px);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 130px;
  @include carbon--type-style('caption-01');
}

.icon__card-details {
  top: rem(28px);
  @include carbon--type-style('helper-text-01');
}

.icon__actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $brand-01;
  transition: $transition--base;
  opacity: 0;

  &.displayed {
    opacity: 1;
  }
}

.icon-button,
a.icon-button {
  border: 2px solid $inverse-01;
  background-color: $brand-01;
  min-width: rem(112px);
  margin: 0.2rem 0;
  color: $inverse-01 !important;
  height: 2.5rem;
  padding: 0 $spacing-05;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active,
  &:focus {
    background-color: $inverse-01;
    color: $brand-01 !important;
  }
}
