.icon-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-bottom: $spacing-06;
}

.icon-search {
  margin-bottom: rem(32px);
}

.icon {
  flex: 1 1 10rem;
  max-width: 10rem;
  position: relative;

  &:nth-child(n) {
    border-left: 1px solid $carbon--gray-20;
    border-bottom: 1px solid $carbon--gray-20;
  }
}

.icon__card-title,
.icon__card-details {
  position: absolute;
  top: rem(12px);
  left: rem(12px);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 130px;
  @include carbon--type-style('caption-01');
}

.icon__card-details {
  top: rem(28px);
  @include carbon--type-style('helper-text-01');
}

.icon__actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $brand-01;
  transition: $transition--base;
  opacity: 0;

  &.displayed {
    opacity: 1;
  }
}

.icon__card {
  background: $ui-02;
  height: 10rem;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  .icon__actions:focus,
  button:focus,
  a:focus {
    .icon__actions {
      opacity: 1;
    }
  }
}

.icon-button,
a.icon-button {
  border: 2px solid $inverse-01;
  background-color: $brand-01;
  min-width: rem(112px);
  margin: 0.2rem 0;
  color: $inverse-01 !important;
  height: 2.5rem;
  padding: 0 $spacing-05;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active,
  &:focus {
    background-color: $inverse-01;
    color: $brand-01 !important;
  }
}

// Remove outside border
@media all and (min-width: 1568px) {
  .icon {
    &:nth-child(7n + 1) {
      border-left: 0px !important;
    }
  }
}

@media all and (min-width: 1355px) and (max-width: 1567px) {
  .icon {
    &:nth-child(6n + 1) {
      border-left: 0px !important;
    }
  }
}

@media all and (min-width: 1142px) and (max-width: 1354px) {
  .icon {
    &:nth-child(5n + 1) {
      border-left: 0px !important;
    }
  }
}

@media all and (min-width: 1056px) and (max-width: 1141px) {
  .icon {
    &:nth-child(4n + 1) {
      border-left: 0px !important;
    }
  }
}

@media all and (min-width: 1024px) and (max-width: 1055px) {
  .icon {
    &:nth-child(6n + 1) {
      border-left: 0px !important;
    }
  }
}

@media all and (min-width: 864px) and (max-width: 1023px) {
  .icon {
    &:nth-child(5n + 1) {
      border-left: 0px !important;
    }
  }
}

@media all and (min-width: 704px) and (max-width: 863px) {
  .icon {
    &:nth-child(4n + 1) {
      border-left: 0px !important;
    }
  }
}

@media all and (min-width: 512px) and (max-width: 703px) {
  .icon {
    &:nth-child(3n + 1) {
      border-left: 0px !important;
    }
  }
}

@media all and (max-width: 511px) {
  .icon {
    &:nth-child(2n + 1) {
      border-left: 0px !important;
    }
  }
}
