.motion-example {
  position: relative;
  width: 100%;
  max-width: rem(720px);
  background: #f4f7fb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 3rem;
  margin: 1rem 0 2rem;

  &__element {
    height: 48px;
    width: 48px;
    background: $color__blue-30;
  }

  &__track {
    border-bottom: 2px solid $color__navy-gray-8;
    margin: 1rem 0;
  }

  &__overlay {
    height: 100%;
    width: 100%;
    background: hsla(255, 0%, 0%, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    // transition: opacity 175ms cubic-bezier(.5, 0, .1, 1);

    &--hover,
    &:focus {
      opacity: 0.6;
    }
  }

  &__button {
    background: none;
    border: none;
    outline: none;
    pointer-events: none;

    svg {
      pointer-events: none;
      fill: $color__white;
      height: rem(48px);
      width: rem(48px);

      g rect {
        fill: $color__white;
      }

      .play-icon,
      .pause-icon {
        &.hidden {
          display: none;
        }
      }
    }
  }

  &__correct-text,
  &__incorrect-text {
    padding-bottom: 0 !important;
    color: $text-03;
    text-align: right;
    font-size: 0.875rem;

    svg {
      margin-right: 0.25rem;
    }
  }

  &__correct-text svg {
    fill: #8cd211;
  }

  &__incorrect-text svg {
    fill: #e0182d;
  }
}

.paused * {
  animation-play-state: paused;
}

.paused > .motion-example__overlay {
  opacity: 0.5;

  &:hover {
    opacity: 0.6;
  }
}

// Demo durations are set here
$demo-duration: 4000ms;
$right-duration: 300ms;
$wrong-duration: 600ms;

// Durations as percentages of the animation
$r: ($right-duration / $demo-duration) * 100;
$w: ($wrong-duration / $demo-duration) * 100;

// Values for the keyframes
$s: (((($demo-duration - ($wrong-duration * 2)) / 4)) / $demo-duration) * 100;

$r2: $s + $r;

$w2: $s + $w;

$s2: $w2 + $s * 2;

$r4: $s2 + $r;
$w4: $s2 + $w;

@keyframes right {
  0% {
    transform: translateX(0);
  }
  #{$s}% {
    transform: translateX(0);
  }
  #{$r2}% {
    transform: translateX(576px);
  }
  #{$s2}% {
    transform: translateX(576px);
  }
  #{$r4}% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes wrong {
  0% {
    transform: translateX(0);
  }
  #{$s}% {
    transform: translateX(0);
  }
  #{$w2}% {
    transform: translateX(576px);
  }
  #{$s2}% {
    transform: translateX(576px);
  }
  #{$w4}% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.duration--correct {
  animation: right $demo-duration linear;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
}

.duration--incorrect {
  animation: wrong $demo-duration linear;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
}

@keyframes easing {
  0% {
    transform: translateX(0);
  }
  #{$s}% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  #{$w2}% {
    transform: translateX(576px);
  }
  #{$s2}% {
    transform: translateX(576px);
    animation-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  #{$w4}% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes no-easing {
  0% {
    transform: translateX(0);
  }
  #{$s}% {
    transform: translateX(0);
  }
  #{$w2}% {
    transform: translateX(576px);
  }
  #{$s2}% {
    transform: translateX(576px);
  }
  #{$w4}% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

.easing--correct {
  animation: easing $demo-duration linear;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
}

.easing--incorrect {
  animation: no-easing $demo-duration linear;
  animation-iteration-count: infinite;
  animation-play-state: inherit;
}

.motion-example-easing--container {
  width: rem(416px);
}

.motion-example__easing-demo {
  position: relative;
  background: #f4f7fb;

  .motion-example__track {
    padding: 1rem;
    width: 100%;
    margin: 0;
    border-bottom: 0;
  }

  .motion-example__element {
    height: rem(24px);
    width: rem(24px);
    background: $color__blue-30;
    animation: easing-demo-element $demo-duration linear;
    animation-iteration-count: infinite;
    animation-play-state: inherit;
  }
}

.motion-example__curve {
  height: rem(320px);
  width: 100%;

  svg > polyline {
    stroke: $color__navy-gray-7;
    stroke-width: 1;
  }

  svg > g:first-child > path {
    stroke: $color__navy-gray-7;
    stroke-width: 1;
  }

  svg > g:last-child > path {
    stroke: $color__blue-30;
    stroke-width: 6;
    animation-iteration-count: infinite;
    animation-play-state: inherit;
  }
}

@keyframes easing-demo-element {
  0% {
    transform: translateX(0);
  }
  #{$s}% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  #{$w2}% {
    transform: translateX(264px);
  }
  #{$s2}% {
    transform: translateX(264px);
    animation-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  #{$w4}% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes stroke-fill-standard {
  0% {
    stroke-dashoffset: -460;
  }
  #{$s}% {
    stroke-dashoffset: -460;
    animation-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  #{$w2}% {
    stroke-dashoffset: 0;
  }
  #{$s2}% {
    stroke-dashoffset: 0;
    animation-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  #{$w4}% {
    stroke-dashoffset: -460;
  }
  100% {
    stroke-dashoffset: -460;
  }
}

@keyframes stroke-fill-out {
  0% {
    stroke-dashoffset: -456;
  }
  #{$s}% {
    stroke-dashoffset: -456;
    animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  }
  #{$w2}% {
    stroke-dashoffset: 0;
  }
  #{$s2}% {
    stroke-dashoffset: 0;
    animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
  }
  #{$w4}% {
    stroke-dashoffset: -456;
  }
  100% {
    stroke-dashoffset: -456;
  }
}

@keyframes stroke-fill-in {
  0% {
    stroke-dashoffset: -429;
  }
  #{$s}% {
    stroke-dashoffset: -429;
    animation-timing-function: cubic-bezier(0.25, 0, 1, 1);
  }
  #{$w2}% {
    stroke-dashoffset: 0;
  }
  #{$s2}% {
    stroke-dashoffset: 0;
    animation-timing-function: cubic-bezier(0.25, 0, 1, 1);
  }
  #{$w4}% {
    stroke-dashoffset: -429;
  }
  100% {
    stroke-dashoffset: -429;
  }
}

.standard {
  animation: stroke-fill-standard $demo-duration linear;
  animation-delay: -$demo-duration + 0.01;
}

.ease-out {
  animation: stroke-fill-out $demo-duration linear;
  animation-delay: -$demo-duration + 0.01;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

.ease-in {
  animation: stroke-fill-in $demo-duration linear;
  animation-delay: -$demo-duration + 0.01;
  animation-timing-function: cubic-bezier(0.25, 0, 1, 1);
}
