.page-header {
  background: $ibm-colors__black;
  color: $inverse-01;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: rem(240px);
}

.page-header--md {
  height: rem(320px);
}

.ibm--grid.page-header__label-wrapper {
  padding-top: rem(24px);
  margin-bottom: auto;
}

.page-header__label {
  @include type-style('heading-03');
}

.page-header__title {
  // replace with type styles
  font-size: 60px;
  font-weight: 300;
  line-height: 70px;
  margin-bottom: $layout-xs;
  margin-top: auto;
}
