.homepage-video--wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  padding-top: 56.25%; //needed to make video fit container
}

.homepage-video--wrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.homepage--video--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $carbon--black-100;
  opacity: 0.7;
}

.homepage-video--controls {
  position: absolute;
  top: 1rem; // TO-DO: change this to bottom: 1rem after fixing wrapper height
  right: 1rem;
  height: rem(24px);
  width: rem(24px);
  background: transparent;
  cursor: pointer;
  z-index: 10;
}

.homepage-video--controls .mouseOut,
.homepage-video--controls .mouseIn {
  fill: $carbon--white-0;
}

.homepage-video--controls .cls-1 {
  fill: none;
}
