a.tile {
  flex-basis: calc(50% - 1rem);
  max-width: rem(300px);
  display: flex;
  flex-direction: column;
  margin: 0 1rem 2rem 0;
  padding: 0;
  text-decoration: none;
  color: $text-01;

  @media all and (max-width: 600px) {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}

.tile__img {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid $ui-04;
}

.tile__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;

  h5 {
    font-weight: 300;
    font-size: rem(20px);
    text-decoration: none;
    color: $text-01;
  }
}

.tile__caption p {
  padding: 0;
}

.tile__author {
  margin-top: 1rem;
  font-weight: 600;
  font-size: rem(14px);
  color: $text-02;
}

.tile__date {
  font-size: rem(12px);
  color: $text-02;
  font-weight: 300;
}
