.page-table,
.component-docs table {
  margin-bottom: 1.5rem;
  line-height: 1.25;

  thead {
    th {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 600;
      color: $text-01;
      padding: $spacing-md;
      text-align: left;
      white-space: nowrap;
      background: $ibm-colors__white;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $ui-03;

      td {
        font-size: .875rem;
        color: $text-01;
        padding: $spacing-md;

        img[src$='checkmark--glyph.svg'] {
          width: 16px;
          height: 16px;
          margin: 0;
        }

        strong {
          font-weight: font-weight('semibold');
        }
      }
    }
  }
}
