.page-table,
.component-docs table {
  margin-bottom: 1.5rem;
  line-height: 1.25;

  @include breakpoint('sm') {
    width: calc(100%);
  }

  @include breakpoint('md') {
    min-width: calc(67.3%);
    max-width: 50%;
    width: 100%;
  }

  thead {
    th {
      @include type-style('heading-01');
      color: $text-01;
      padding: $spacing-md;
      text-align: left;
      white-space: nowrap;
      background: $ibm-colors__white;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $ui-03;

      td {
        @include type-style('body-short-01');
        color: $text-01;
        padding: $spacing-md;

        img[src$='checkmark--glyph.svg'] {
          width: 16px;
          height: 16px;
          margin: 0;
        }

        strong {
          font-weight: font-weight('semibold');
        }

        @include breakpoint('md') {
          min-width: rem(150px);
        }
      }
    }
  }
}

.component-docs table {
  width: calc(100% + 2rem);
  margin-left: -1rem;
}
