.page-content.fourohfour {
  padding-top: rem(32px);
  padding-bottom: 0;
  background-color: $ibm-colors__gray-100;
  min-height: calc(100vh - 418px);
  width: 100%;

  @include breakpoint('xlg') {
    padding-top: rem(48px);
  }
}

.anchor-links.anchor-links--small.fourohfour-body__anchor-links .page-ul {
  margin-top: rem(24px);
  margin-bottom: rem(32px);

  @include breakpoint('xlg') {
    margin-bottom: rem(48px);
  }
}

.fourohfour-body__heading {
  font-size: rem(28px);
  line-height: rem(36px);
  margin-bottom: rem(24px);
}

.fourohfour-body__404 {
  display: inline-block;
  line-height: 1;
  font-size: rem(200px);
  background: linear-gradient(35deg, $ibm-colors__teal-20, $ibm-colors__purple-50);
  background-size: 200% 200%;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: rem(192px);
  animation: gradient 5s ease infinite;
}

.fourohfour-body__heading,
.fourohfour-body__text,
.fourohfour-body__anchor-links.anchor-links--small .page-ul > li a,
.fourohfour-body__anchor-links.anchor-links--small .page-ul > li a::before
 {
  color: $ibm-colors__gray-10;
}

.fourohfour-body__anchor-links.anchor-links--small .page-ul > li a:hover {
  color: $ibm-colors__blue-40;

  &::before {
    color: $ibm-colors__blue-40;

  }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
