@import '../prefix';


.#{$prefix}--imageZoom-expandableImageContainer {
  background-color: $ibm-colors__white;
  padding-top: 100%;
  position: relative;
  width: 100%;

  @include breakpoint('md') {
    cursor: pointer;
  }
}

.#{$prefix}--imageZoom-expandableImage {
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.#{$prefix}--imageZoom-magnifier {
  bottom: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  display: none;

  svg {
    fill: $ibm-colors__gray-80;
  }
  @include breakpoint('md') {
    display:block;
  }
}

.#{$prefix}--imageZoom-close {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 15;

  svg {
    fill: $ibm-colors__white;
  }
  &:hover {
    cursor: pointer;
  }
}
.#{$prefix}--imageZoom-container {
  padding: 1rem 0rem;

  @include breakpoint('md') {
    padding: 1rem;
  }
}