@import '../prefix';

/* .#{$prefix}--type-weight { */
    /* background: $ibm-colors__white;
    padding: $spacing-md;
    margin-bottom: rem(24px);
  
    p {
      font-size: rem(48px);
      padding: 0;
      line-height: 1.25;
      color: $ibm-colors__gray-80;
    }
   */
    .#{$prefix}--ibm-type-italic {
      font-style: italic;
    }
  
    .#{$prefix}--ibm-type-semibold {
      font-weight: 600;
    }
  
    .#{$prefix}--ibm-type-regular {
      font-weight: 400;
    }
  
    .#{$prefix}--ibm-type-light {
      font-weight: 300;
    }
    
    .#{$prefix}--ibm-type-sans {
        font-family: 'IBM Plex' ,Helvetica Neue,Arial,sans-serif;;
    }

    .#{$prefix}--ibm-type-serif {
        font-family: 'IBM Plex Serif', serif;
    }

    .#{$prefix}--ibm-type-condensed {
        font-family: 'IBM Plex Sans Condensed';
    }

    .#{$prefix}--ibm-type-mono {
      font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
        'Bitstream Vera Sans Mono', Courier;
    }
  /* } */
  