@import '../prefix';

.#{$prefix}--subfamilies-menu-tabs {
    width: 100%;
    padding-left: 0 !important;
}

.#{$prefix}--hide {
    display:none;
}
.#{$prefix}--show {
    display:block;
}

.#{prefix}--subfamilies-fonts-preload {
    margin-top: 2rem;
        height: 0;
        visibility: hidden;

        * {
            font-family: 'IBM Plex Sans Condensed';
        }
}

.#{$prefix}--subfamilies-tabs-container {
    margin-left: -.5rem;
    margin-right: -.5rem;
}
.#{$prefix}--subfamilies-dropdown-container {
    width:100%;
    margin-left: -1rem;
    margin-right: -1rem;

    @include breakpoint('sm') {
        width: calc(100% + 2rem);
        margin-left: -.5rem;
        margin-right: 0rem;
    }
}
.#{$prefix}--subfamilies-button {
    @include carbon--type-style('body-long-01');
    text-align: left;
    color: $ibm-colors__black;
    background-color: $ibm-colors__white;
    box-sizing: border-box !important;
    border: none;
    border-bottom: rem(1px) solid $ibm-colors__gray-20;
    border-right: rem(1px) solid $ibm-colors__gray-20;
    cursor: pointer;
    height: 3rem;
    position: relative;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
        background-color: $ibm-colors__gray-10;
    }

    &:last-child {
        border-right: none;
    }

    &.active {
        color: $ibm-colors__white;
        background-color: $ibm-colors__black;
    
        &:hover {
            background-color: $ibm-colors__black;
        }
    }
}
.#{$prefix}--padding-left-none {
    padding-left: 0 !important;
}

.#{$prefix}--subfamilies {
    width: calc(100% + 1.5rem) !important;
    margin-right: 0rem;
    margin-left: -.25rem;

    @include breakpoint('md') {
        width: calc(100% + 1rem) !important;
        margin-right: -1rem;
        margin-left: -.25rem;
    }
}


.#{$prefix}--subfamilies-TypeTesterExample {
    @include carbon--type-style('expressive-heading-05');
    background-color: $ibm-colors__white;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    margin-bottom: 0; 
    margin-left: -0.5rem !important;
    margin-right: -.5rem !important;

    @include breakpoint('md') {
        margin: 0rem;
        margin-left: -0.5rem !important;
    }

    .ibm-type-italic {
        font-style: italic;
    }
}