@import '../prefix';

.#{$prefix}--website-switcher {
  position: fixed;
  right: 0;
  width: 0;
  background-color: $ibm-colors__gray--100;
  height: 100%;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  will-change: width;
  transition: width 0.11s cubic-bezier(0.2, 0, 1, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
}

.#{$prefix}--website-switcher--expanded {
  width: mini-units(32);
}

.#{$prefix}--website-switcher-list__item--current {
  position: relative;
  margin-top: $spacing-md;
  margin-bottom: $spacing-xs;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -.5rem;
    width: mini-units(28);
    border-top: 1px solid $ibm-colors__gray--80;
  }
}

.#{$prefix}--website-switcher-list__item--current,
.#{$prefix}--website-switcher-list__item-link {
  @include type-style('heading-02');
  padding: rem(6px) 1rem;
  color: $ibm-colors__gray--30;
}

.#{$prefix}--website-switcher-list__item-link {
  @include type-style('heading-02');
  display: block;
  text-decoration: none;

  &:hover {
    background: #353535;
    color: $ibm-colors__gray--10;
  }

  &:focus {
    outline: 4px solid $shell-side-nav-accent-01;
    outline-offset: -4px;
  }
}

.#{$prefix}--website-switcher-list__item:nth-child(2) {
  margin-top: $spacing-md;
}