@import '../prefix';

.#{$prefix}--header--website {
  background: $ibm-colors__gray--100;
  z-index: 9999;
}

.bx--header__nav {
  display: none;

  @include breakpoint('md') {
    display: block;
  }
}

.#{$prefix}--header__action {
  border-width: 2px;
  display: block;

  @include breakpoint('md') {
    display: none;
  }
}

a.#{$prefix}--header__name:focus {
  box-shadow: inset 0 0 0 2px $focus;
}

.#{$prefix}--header__nav {
  margin-left: auto;
}

a.#{$prefix}--header__menu-item[role='menuitem'],
.#{$prefix}--header__menu-title[role='menuitem'][aria-expanded='true']
  + .#{$prefix}--header__menu {
      @include breakpoint('md') {
          width: rem(160px);
      }
}

a.#{$prefix}--header__menu-item[role='menuitem'] {
  position: relative;
  color: $ibm-colors__gray--30;
  border-width: 2px;
}

// Hover 
a.#{$prefix}--header__menu-item[role='menuitem']:hover {
  background-color: #353535;
  color: $ibm-colors__gray--10;
}

// Hover with expanded
a.#{$prefix}--header__menu-item.#{$prefix}--header__menu-title[role='menuitem']:hover,
.#{$prefix}--header__menu-title[role='menuitem'][aria-expanded='true'] {
  background: $ibm-colors__gray--70;
  color: $ibm-colors__gray--10;
}

// Current page 
a.#{$prefix}--header__menu-item[role='menuitem'][aria-current=page] {
  background: $ibm-colors__gray--80;
  color: $ibm-colors__gray--10;
}

a.#{$prefix}--header__menu-item[role='menuitem'][aria-current=page]:after {
  content: '';
  width: calc(100% + 4px);
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-top: 4px solid $ibm-colors__blue--60;
  }

// Expanded drop down menn
.#{$prefix}--header__menu-title[role='menuitem'][aria-expanded='true'] + .#{$prefix}--header__menu {
  background: $ibm-colors__gray--90;
  color: $ibm-colors__gray--10;
}

.#{$prefix}--header__menu .#{$prefix}--header__menu-item[role='menuitem'] {
  color: $ibm-colors__gray--30;
}

.#{$prefix}--header__menu .#{$prefix}--header__menu-item[role='menuitem'][aria-current=page] {
    background: transparent;
}

.#{$prefix}--header__menu .#{$prefix}--header__menu-item[role='menuitem']:after,
.#{$prefix}--header__menu .#{$prefix}--header__menu-item[role='menuitem'][aria-current=page]:after {
  content: '';
  width: calc(100% - 16px);
  position: absolute;
  left: 8px;
  bottom: -3px;
  border-top: none;
  border-bottom: 1px solid $ibm-colors__gray--70;
}

.#{$prefix}--header__menu .#{$prefix}--header__menu-item[role='menuitem']:hover:after,
.#{$prefix}--header__menu li:last-child .#{$prefix}--header__menu-item[role='menuitem']:after {
  display: none;
}

.#{$prefix}--header__menu .#{$prefix}--header__menu-item[role='menuitem']:hover {
  color: $ibm-colors__gray--10;
  background: #353535;
}