// No gutter class names
.container {
  .ibm--no-gutter-lg {
    @include carbon--breakpoint('lg') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ibm--no-gutter-md {
    @include carbon--breakpoint('md') {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ibm--no-gutter-sm {
    padding-left: 0;
    padding-right: 0;
  }

  .ibm--no-gutter-lg--left {
    @include carbon--breakpoint('lg') {
      padding-left: 0;
    }
  }

  .ibm--no-gutter-md--left {
    @include carbon--breakpoint('md') {
      padding-left: 0;
    }
  }

  .ibm--no-gutter-sm--left {
    padding-left: 0;
  }
}

// Clears styles for nested grid components
.container .ibm--row .ibm--row {
  margin: 0;
}

.container .ibm--row .ibm--row > div {
  margin: 0;
  max-width: 100%;
  flex: auto;
}
