@import '../prefix';

// const TypesetContainer = styled.div`
.#{$prefix}--typeset-example-container {
  background-color: $ibm-colors__white-0;
  margin-top: 1rem;
  &:first-of-type {
    margin-top: 0;
  }
}

.#{$prefix}--typeset-example-group-title {
  background-color: $ibm-colors__gray-20;
  height: 4rem; 
}

// const Code = styled.p`
.#{$prefix}--typeset-example-code {
  border-radius: 2px;
  background-color: $ibm-colors__cool-gray-20;
  color: $ibm-colors__gray-100;
  display: inline-block;
  padding: 3px 8px 5px;
  margin-bottom: 0;
}

// const Example = styled.div`
.#{$prefix}--typeset-example-example {
  overflow: inherit;
}

// const ExampleMask = styled.div`
.#{$prefix}--typeset-example-mask {
  grid-template-rows: auto;
  grid-column: 1/-1;
  

  @include breakpoint('md') {
    grid-column: 1/6;
  }
    
  @include breakpoint('lg') {
    grid-column: 1 / 9;
  }
}
    
    // const ExampleSpecs = styled.div`
.#{$prefix}--typeset-example-specs {
  grid-column: 1 /-1;
  align-self: stretch;
  
  @include breakpoint('md') {
    border-left: 1px solid $ibm-colors__gray-20;
    grid-column: 6 /-1;
  }
    

  @include breakpoint('lg') {
    grid-column: 9/-1;
  }
}
    
    // const ExampleSpecsText = styled.p`
.#{$prefix}--typeset-example-specs-text {
  margin-bottom: 0.5rem;
}

// const codeStyle = css`
.#{$prefix}--typeset-example-code-style {
  display: inline-block;
  margin-top: .5rem;
}