.page-content.fourohfour {
  position: relative;
  padding-top: rem(48px);
  min-height: rem(800px);
  background-color: $ibm-colors__gray-100;
}

.fourohfour-repeat {
  position: absolute;
  top: 0;
  left: 19%;
}

p.fourohfour-repeat__text {
  font-size: rem(200px);
  font-weight: 600;
  color: $ibm-colors__gray-90;
  padding: 0;
  line-height: 1;
  z-index: 2;

  &:nth-child(1) {
    top: 25%;
  }
  &:nth-child(2) {
    top: 50%;
  }
  &:nth-child(3) {
    top: 75%;
  }
}

.fourohfour-body {
  z-index: 3;
}

.anchor-links.anchor-links--small.fourohfour-body__anchor-links .page-ul {
  margin-top: rem(24px);
}

.fourohfour-body__heading {
  font-size: rem(28px);
  line-height: rem(36px);
  margin-bottom: rem(24px);
}

.fourohfour-body__heading,
.fourohfour-body__text,
.fourohfour-body__anchor-links.anchor-links--small .page-ul > li a,
.fourohfour-body__anchor-links.anchor-links--small .page-ul > li a::before
 {
  color: $ibm-colors__gray-10;
}
