//----------------------------
// PageIcon
//----------------------------

.page-icon-green {
  fill: $support-02;
}

//----------------------------
// Flex Group
//----------------------------

.page-flex-group {
  display: flex;
  flex-wrap: wrap;
}

.page-flex-group + .page-flex-group {
  border-top: 2px solid $ui-04;
}

//----------------------------
// h2
//----------------------------

.page-h2,
.component-docs h2 {
  @include type-style('heading-06');
  position: relative;
  color: $text-01;
  margin-top: rem(56px);
  margin-bottom: $spacing-lg;
}
 
//----------------------------
// h3
//----------------------------

.page-h3,
.component-docs h3 {
  @include type-style('heading-05');
  color: $text-01;
  margin-top: rem(24px);
  margin-bottom: $spacing-md;
}

//----------------------------
// h4
//----------------------------

.page-h4,
.component-docs h4 {
  @include type-style('heading-02');
  font-weight: font-weight('semibold');
  color: $text-01;
  margin-top: rem(8px);
}

// Targets heading elements when they are the first element on a page to remove top margin
.page-content > div > .ibm--row:first-child {
  .page-h4,
  .component-docs h4,
  .page-h3,
  .component-docs h3,
  .page-h2,
  .component-docs h2 {
    margin-top: 0;
  }
}

//----------------------------
// ul
//----------------------------

.page-ul,
.page-ol {
  @include typescale('epsilon');
  margin: 0 0 $spacing-lg $spacing-lg;
  line-height: 1.75;
  //max-width: 38rem;
}

.page-ul > li {
  font-weight: 400;
  padding-left: 0.25rem;
  list-style-type: disc;
}

.page-ol > li {
  font-weight: 400;
  padding-left: 0.25rem;
  list-style-type: decimal;
}

// The following is a css hack because remark is nesting tags inside of lists and causing double grid code
.container .page-ol,
.container .page-ul {
  .ibm--row {
    margin: 0;
    width: 100%;
  }

  .ibm--offset-lg-4 {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .ibm--col-lg-7,
  .ibm--col-lg-8,
  .ibm--col-lg-12 {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

//----------------------------
// Image
//----------------------------

.page-content img {
  max-width: 100%;
}

// Adds background color to component page images. Adds to all images on compponent pages for now
.container--component .gatsby-resp-image-wrapper {
  background: $ibm-colors__white;
}

.gatsby-resp-image-background-image {
  background: transparent !important; // Need important to override inline style added by gatsby-remark-images
}

.container--component .gatsby-resp-image-image {
  box-shadow: none !important; // Need important to override inline style added by gatsby-remark-images
  border: none !important;
}

//----------------------------
// Inline image
//----------------------------

blockquote .gatsby-resp-image-wrapper,
blockquote p img {
  width: 5.2rem;
  height: auto;
  margin: 1.2rem 0 0 0;
  padding: 0 1.2rem 1.2rem 0;
  float: left;
}

//----------------------------
// Blockquote
//----------------------------

.page-content blockquote {
  margin: 1.75rem 0 0;
  line-height: 1.75;
  width: 100%;
  //max-width: 38rem;
}

//----------------------------
// Markdown Anchor
//----------------------------

// This hides the anchor link from everything except h2
// the custom markdown prevents the links from working for those html elements

.page-h4,
h5,
h6 {
  .anchor {
    display: none;
  }
}

//----------------------------
// Video Embed
//----------------------------

iframe.embedVideoIframe {
  border: 1px solid $ui-03;
}

//----------------------------
// HR
//----------------------------
hr {
  display: none;
}
