//----------------------------
// PageIntro
//----------------------------

.page-intro {
  display: block;
  max-width: 38rem;
  color: $text-01;
  word-wrap: break-word;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: 1rem;
  letter-spacing: 0;
}

.page-intro > strong {
  color: $brand-01;
}

//----------------------------
// PageIcon
//----------------------------

.page-icon-green {
  fill: $support-02;
}

//----------------------------
// Flex Group
//----------------------------

.page-flex-group {
  display: flex;
  flex-wrap: wrap;
}

.page-flex-group + .page-flex-group {
  border-top: 2px solid $ui-04;
}

//----------------------------
// Colorblock
//----------------------------

.color-block {
  position: relative;
}

.color-block__color {
  position: absolute;
  top: $spacing-3xs;
  left: 5rem;
  display: block;
  height: 12px;
  width: 12px;
  border: 1px solid $ui-03;
}

//----------------------------
// h2
//----------------------------

.page-h2 {
  @include typescale('beta');
  position: relative;
  color: $text-01;
  margin-top: 6rem;
  font-weight: 300;
  padding: $spacing-md 0 3rem;

  &:before {
    content: '';
    width: 5rem;
    height: 0.3rem;
    display: block;
    background-color: $brand-01;
    position: absolute;
    top: -0.5rem;
    left: 0;
  }

  div &:first-child {
    margin-top: 0;
  }
}

//----------------------------
// h3
//----------------------------

.page-h3,
.component-docs h3 {
  @include typescale('delta');
  color: $brand-01;
  padding: 4rem 0 1rem;
  font-weight: 600;
  letter-spacing: 0;
}

//----------------------------
// h4
//----------------------------

.page-h4,
.component-docs h4 {
  color: $text-01;
  padding: 2rem 0 1rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
}

//----------------------------
// ul
//----------------------------

.page-ul,
.page-ol {
  @include typescale('epsilon');
  margin: 1rem 0 1rem 1.5rem;
  line-height: 1.75;
  max-width: 38rem;
}

.page-ul li {
  font-weight: 400;
  padding-left: 0.25rem;
  list-style-type: disc;
}

.page-ol li {
  font-weight: 400;
  padding-left: 0.25rem;
  list-style-type: decimal;
}

//----------------------------
// Image
//----------------------------

.page-content img {
  max-width: 100%;
}

//----------------------------
// Inline image
//----------------------------

blockquote .gatsby-resp-image-wrapper,
blockquote p img {
  width: 4rem;
  margin: 1.2rem 1.2rem 0.75rem 0;
  float: left;
}

//----------------------------
// Blockquote
//----------------------------

.page-content blockquote {
  margin: 1.75rem 0 0;
  line-height: 1.75;
  width: 100%;
  max-width: 38rem;
}
