.glossary {
  //max-width: 38rem;
}

.glossary-entry {
  .glossary-entry__main-heading {
    margin: 3.25rem 0 0.5rem;
    font-size: rem(112px);
    -webkit-text-stroke: 3px #3c6df0;
    -webkit-text-fill-color: white;
    font-weight: 600;
  }

  h2 {
    margin-top: 4rem !important;
    padding-bottom: 0 !important;
  }

  .glossary-entry__desc {
    padding-bottom: 0;
  }

  .glossary-entry__word {
    padding-bottom: 1.5rem;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .glossary-entry__word-heading {
    padding-top: rem(24px);
    padding-bottom: 0.5rem;
    @include carbon--type-style('expressive-heading-03');
  }

  .glossary-entry__subtext {
    @include carbon--type-style('body-short-02');
    color: $text-02;
    margin-top: 0.25rem;
    padding-bottom: 0;
  }

  .glossary-entry__list {
    margin-bottom: 3rem;
  }
}

img.content-page__cap-letter {
  width: 9rem !important;
  margin: 0 2rem 0.75rem 0 !important;
  float: left;
}
