.type-styles-table {
  max-width: 45rem;
  width: 100%;

  table {
    width: 100%;

    tbody tr,
    thead tr {
      width: 100%;
      max-width: 45rem;

      @media all and (max-width: 600px) {
        display: flex;
        flex-direction: column;
      }
    }

    tbody tr,
    tbody td {
      vertical-align: top;
    }

    tbody tr td {
      padding: 1rem 0;
      line-height: 1.5;

      @media all and (max-width: 600px) {
        width: 100%;
      }
    }

    tbody tr td:first-child {
      width: 70%;

      @media all and (max-width: 600px) {
        width: 100%;
      }
    }

    tbody tr td:last-child span {
      color: $brand-01;
    }
  }

  table:first-child {
    tbody tr:first-child td:first-child {
      font-size: 76px;
      font-weight: 300;
      line-height: 1.25;
    }

    tbody tr:last-child td:first-child {
      font-size: 54px;
      font-weight: 300;
      line-height: 1.25;
    }
  }

  table:nth-child(2) {
    tbody tr:first-child td:first-child {
      font-size: 36px;
      font-weight: 300;
      line-height: 1.25;
    }

    tbody tr:nth-child(2) td:first-child {
      font-size: 28px;
      font-weight: 300;
      line-height: 1.25;
    }

    tbody tr:nth-child(3) td:first-child {
      font-size: 20px;
      font-weight: 300;
      line-height: 1.25;
    }

    tbody tr:nth-child(4) td:first-child {
      font-size: 18px;
      font-weight: 600;
      line-height: 1.25;
    }

    tbody tr:nth-child(5) td:first-child {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.25;
    }

    tbody tr:nth-child(6) td:first-child {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.25;
    }

    tbody tr:nth-child(7) td:first-child {
      font-size: 12px;
      font-weight: 600;
      line-height: 1.25;
    }
  }

  table:nth-child(3) {
    tbody tr:first-child td:first-child {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    tbody tr:nth-child(2) td:first-child {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
    }

    tbody tr:nth-child(3) td:first-child {
      font-size: 11px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
