/* 
Add to vscode settings
  "markdown.styles": [
    "vscode-markdown.css"
  ]
*/

body,
.vscode-body {
  background: white;
  color: black;
  font-family: ibm-plex-sans, Helvetica Neue, Arial, sans-serif;
}

.vscode-body h2 {
  /*color: #152935;*/
  font-size: 1.75rem;
  font-weight: 300;
  margin-top: 4rem;
  padding: 1rem 0 3rem;
}

.vscode-body h2:before {
  background-color: #3057d5;
  content: '';
  display: block;
  height: 0.3rem;
  left: 0;
  position: absolute;
  top: -0.5rem;
  width: 5rem;
}

.vscode-body h3 {
  color: #3057d5;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0;
  padding: 4rem 0 1rem;
}

.vscode-body ol,
.vscode-body ul {
  font-size: 1rem;
  line-height: 1.75;
  padding: 0;
  margin: 1rem 0 1rem 1.5rem;
  max-width: 38rem;
  font-size: 16px;
}

.vscode-body li {
  font-weight: 400;
  margin: 0;
  padding-left: 0.25rem;
}

.vscode-body p {
  line-height: 1.5;
  max-width: 38rem;
  padding: 0 0 1rem;
  font-size: 16px;
}

.vscode-body a {
  color: #3057d5;
  font-weight: 600;
}

.vscode-body pre {
  background: #fff;
  border: 1px solid #dfe3e6;
  font-family: ibm-plex-mono, Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier, monospace;
  font-size: 12px;
  line-height: 1.45;
  max-width: 37.5rem;
  padding: 1rem;
  position: relative;
  width: 100%;
  border-radius: 0;
  display: block;
  color: black;
}

.vscode-body code {
  font-size: 12px;
  color: black;
}

.vscode-body img {
}

table thead {
  border-bottom: 2px solid #3057d5;
}

page-intro {
  /*color: #152935;*/
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5;
  max-width: 38rem;
  padding-bottom: 1rem;
  word-wrap: break-word;
  margin-top: 60px;
}

page-intro strong {
  color: #3057d5;
}

component:after,
component-docs:after,
component-react:after,
icon:after,
flex-group:after,
clickable-tile:after,
example:after,
color-block:after,
color-card:after,
type-scale-table:after,
type-styles-table:after,
type-weight-table:after,
glossary:after,
component-status:after,
component-overview:after,
layer-types:after,
layer-usage:after,
motion:after {
  background: #f4f7fb;
  content: 'Custom component';
  display: bock;
  display: block;
  border: 1px dotted;
  text-align: center;
  padding: 15px;
  font-size: 12px;
  font-family: ibm-plex-mono, Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier, monospace;
}

component:after {
  content: 'Custom: <component>';
}

component-docs:after {
  content: 'Custom: <component-docs>';
}

component-react:after {
  content: 'Custom: <component-react>';
}

icon:after {
  content: 'Custom: <icon>';
}

flex-group:after {
  content: 'Custom: <flex-group>';
}

clickable-tile:after {
  content: 'Custom: <clickable-tile>';
}

example:after {
  content: 'Custom: <example>';
}

color-block:after {
  content: 'Custom: <color-block>';
}

color-card:after {
  content: 'Custom: <color-card>';
}

type-scale-table:after {
  content: 'Custom: <type-scale-table>';
}

type-styles-table:after {
  content: 'Custom: <type-styles-table>';
}

type-weight-table:after {
  content: 'Custom: <type-weight-table>';
}

glossary:after {
  content: 'Custom: <glossary>';
}

component-status:after {
  content: 'Custom: <component-status>';
}

component-overview:after {
  content: 'Custom: <component-overview>';
}

layer-types:after {
  content: 'Custom: <layer-types>';
}

layer-usage:after {
  content: 'Custom: <layer-usage>';
}

motion-example:after {
  content: 'Custom: <motion-example>';
}
