.page-footer {
  background-color: $ui-02;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 0;
  transition: $transition--base ease;
  overflow-x: hidden;
  padding: 1.5rem 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;

  @include breakpoint('680px') {
    padding: 1.5rem 5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: rem(112px);
  }

  &--expanded {
    margin-left: 0;
    width: 100%;
  }
}

.page-footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: 2;

  &:first-child {
    width: 100%;
    margin-top: 1rem;
    border-top: 1px solid $ui-04;
    padding-top: 1rem;
  }

  &:last-child {
    order: 1;
  }

  @include breakpoint('680px') {
    &:first-child {
      order: 1;
      margin-top: 0;
      border-top: none;
      padding-top: 0;
      width: auto;
    }

    &:last-child {
      align-items: flex-end;
      order: 2;
    }
  }

  .page-footer__link {
    @include typescale('omega');
    font-weight: 400;
    color: $brand-01;
    background: none;
    border: none;
    text-decoration: underline;
    font-family: 'ibm-plex-sans', Arial, Helvetica, sans-serif;
    cursor: pointer;

    &--with-tooltip {
      position: relative;
      padding-right: 4px;
      padding-left: 5px;
    }

    &--with-tooltip.show-tooltip:after {
      display: block;
    }

    &--with-tooltip:after {
      @include layer('overlay');
      content: 'E-mail address copied to clipboard!';
      position: absolute;
      top: -3.2rem;
      left: -3rem;
      background: white;
      width: 150px;
      padding: 0.5rem;
      display: none;
    }

    &:hover,
    &:focus {
      color: $hover-primary;
      outline: 1px solid #3d70b2;
    }
  }

  .page-footer__text {
    @include typescale('omega');
    color: $text-02;
  }
}

.page-footer__social-media {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  li {
    margin-left: 0;
    margin-right: rem(4px);

    @include breakpoint('680px') {
      margin-left: rem(4px);
      margin-right: 0;
    }
  }

  .social-media__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .social-media__icon {
    fill: $ui-05;
  }

  .social-media__link:hover {
    .social-media__icon {
      fill: $brand-01;
    }
  }
}
