.page-footer {
  background: $ibm-colors__black;
  color: $ibm-colors__gray--30;
  min-height: 320px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  @include type-style('body-short-01');
  position: relative;
  z-index: 2;
}

// Footer link styles
.page-footer__link {
  color: $ibm-colors__gray--10;
  box-shadow: 0 0 currentColor;
  text-decoration: none;

  &:hover,
  &:active {
    box-shadow: 0 1px currentColor;
  }

  &:focus {
    box-shadow: 0 3px currentColor;
  }
}

// Footer nav lists
.page-footer__nav {
  padding-bottom: rem(40px);
  margin-bottom: $spacing-md;
  position: relative;

  &:after {
    @include breakpoint('sm') {
      content: '';
      background: $ibm-colors__gray--80;
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      bottom: 0;
    }

    @include breakpoint('md') {
      display: none;
    }
  }
}

.page-footer__nav li {
  display: block;

  @include breakpoint('sm') {
    margin: .5rem 0;
  }

  @include breakpoint('lg') {
    margin: 0;
  }
}

.page-footer__text {
  @include type-style('body-short-01');

  &:first-child {
    padding-bottom: $spacing-md;
  }

  .page-footer__link {
    box-shadow: 0 1px currentColor;
  }
}


// Footer paragraph 
.page-footer__link--with-tooltip {
  @include type-style('body-short-01');
  position: relative;
  margin-right: 4px;
  margin-left: 5px;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.page-footer__link--with-tooltip.show-tooltip:after {
  display: block;
}

.page-footer__link--with-tooltip:after {
  content: 'E-mail address copied to clipboard!';
  position: absolute;
  top: -3.2rem;
  left: -3rem;
  background: $ibm-colors__gray--80;
  width: 150px;
  padding: 0.5rem;
  display: none;
}

// Footer logo
.ibm-logo {
  margin-top: rem(100px);

  @include breakpoint('md') {
    margin-top: rem(150px);
  }
}

