//===================
// SIDE NAV
//===================
.side-nav {
  @include typescale('zeta');
  @include layer('temporary-nav');
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $ui-01;
  border-right: 2px solid $ui-02;
  width: 12.5rem;
  height: 100%;
  padding: $spacing-md 0;
  position: fixed;
  overflow-y: auto;
  z-index: 7000;
  transition: $transition--base $bx--standard-easing;

  @media screen and (min-width: 840px) {
    box-shadow: none;
  }
}

.side-nav__closed {
  transform: translateX(-100%);
  overflow: inherit;
}

.side-nav__closed--final {
  display: none;
}

//===================
// SIDE NAV LOGO
//===================
.side-nav__logo {
  @include typescale('epsilon');
  width: 100%;
  display: inline-block;
  color: $text-01;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.2;
  margin: $spacing-xl 0 $spacing-md;
  white-space: nowrap;
  padding: 0 $spacing-md;
}

.side-nav__logo span {
  font-weight: 600;
}

//===================
// SIDE NAV SEARCH
//===================
.side-nav__search {
  margin: 0 $spacing-md $spacing-xl;
}

//===================
// NAV ITEMS
//===================
.side-nav__nav-items {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-bottom: $spacing-2xl;
}

.side-nav__nav-item a {
  @include typescale('zeta');
  cursor: pointer;
  padding: $spacing-xs $spacing-md $spacing-xs $spacing-md;
  color: $text-01;
  border: none;
  font-weight: 600;
  background: transparent;
  line-height: 1.5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  text-decoration: none;
  border-left: 4px solid transparent;

  &:hover,
  &:focus {
    color: $brand-01;
  }

  @media all and (max-width: 620px) {
    @include typescale('epsilon');
    padding-bottom: $spacing-md;
  }
}

.side-nav__nav-item--arrow {
  height: rem(8px);
  width: rem(8px);
  fill: $ui-04;
  transition: 0.3s;
}

.side-nav__nav-item--active > a {
  color: $brand-01;
  border-left: 4px solid $brand-01;
}

.side-nav__nav-item--open .side-nav__nav-item--arrow {
  transform: rotate(-180deg);
}

.side-nav__nav-item--open .side-nav__sub-nav {
  margin-top: 0;
  max-height: 100rem;
}

//===================
// SUB NAV ITEMS
//===================
.side-nav__sub-nav {
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
}

.side-nav__sub-nav-item {
  border-left: 4px solid transparent;
  padding: 0 $spacing-lg;
}

.side-nav__sub-nav-item a {
  font-weight: 400;
  padding: $spacing-2xs $spacing-2xs $spacing-2xs $spacing-xs;
  text-decoration: none;

  @media all and (max-width: 620px) {
    @include typescale('epsilon');
    padding-bottom: $spacing-sm;
  }
}

.side-nav__sub-nav-item--active {
  border-left: 4px solid $brand-01;
}

.side-nav__sub-nav-item--active a {
  font-weight: 600;
  color: $brand-01;
}

//===================
// SIDE NAV LINKS
//===================
.side-nav__links {
  width: 100%;
  padding: 0 $spacing-md;
}

.side-nav__link {
  width: 100%;
  margin-bottom: $spacing-md;
  display: flex;
  justify-content: space-between;
}
