.page-tabs {
  padding-left: 3%;
  padding-right: 3%;
  margin: -$spacing-3xl 0 0 0;
  width: auto;
  min-height: $spacing-3xl;
  height: auto;
  position: relative;
  color: $text-01; 

  @media all and (min-width: 620px) {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

.page-tabs__list {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  list-style: none;
  padding: 0;
  bottom: 1px;
}

.page-tabs__list li {
  padding: $spacing-sm 0 $spacing-md;
}

.page-tabs__list li.selected {
  border-bottom: 2px solid $brand-01;
}

.page-tabs__list li + li {
  margin-left: $spacing-3xl;

  @media all and (max-width: 600px) {
    margin-left: $spacing-lg;
  }
}

.page-tabs__list li a {
  @include typescale('epsilon');
  text-decoration: none;
  color: $text-01;
  font-weight: 600;
  white-space: nowrap;

  &:hover {
    color: $brand-01;
  }
}
