.page-content .bx--snippet--multi .bx--snippet-container {
  min-height: auto;
}

.page-content .bx--snippet {
  margin: $spacing-md 0 $spacing-lg;
}

.page-content pre div code[class*='language-'] {
  white-space: pre;
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: 'ibm-plex-mono' !important;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #898ea4;
}

.token.punctuation {
  color: #687985;
}

.token.operator {
  color: #687985;
}

.token.boolean,
.token.number {
  color: #006456;
}

.token.property {
  color: #97702d;
}

.token.tag {
  color: #687985;
}

.token.string {
  color: #2d74da;
}

.token.selector {
  color: #5a3ec8;
}

.token.attr-name {
  color: #2d74da;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #2d74da;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #5b8121;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #006456;
}

.token.placeholder,
.token.variable {
  color: #831b4c;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #c22dd5;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c94922;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #c94922;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers .line-numbers-rows {
  border-right-color: #dfe3e6;
}

.line-numbers-rows > span:before {
  color: #687985;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight {
  background: rgba(107, 115, 148, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(107, 115, 148, 0.2) 70%,
    rgba(107, 115, 148, 0)
  );
  background: linear-gradient(
    to right,
    rgba(107, 115, 148, 0.2) 70%,
    rgba(107, 115, 148, 0)
  );
}
