.color-block {
  position: relative;
  font-size: 0.875rem;
}

.color-block__color {
  display: block;
  margin-top: $spacing-3xs;
  height: 12px;
  width: 12px;
  border: 1px solid $ui-03;
}

.color-block__color--with-label {
  left: 5rem;
  position: absolute;
  top: $spacing-3xs;
}
