.color-block {
  position: relative;
  @include carbon--type-style('body-short-01');
}

.color-block__color {
  display: block;
  margin-top: $spacing-01;
  height: 20px;
  width: 20px;
  border: 1px solid $ui-03;
  border-radius: 20px;
}

.color-block__color--with-label {
  position: absolute;
  top: -0.1875rem;
  left: 5rem;
}
