.color-block {
  position: relative;
  @include carbon--type-style('body-short-01');
}

.color-block__color {
  position: relative;
  display: block;
  margin-top: $spacing-01;
  height: 18px;
  width: 18px;
  border-radius: 18px;

  // needed to fix anti-aliasing issue in firefox
  &:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    border-radius: 18px;
    border: 1px solid $ui-03;
    left: -1px;
    top: -1px;
  }
}

.color-block__color--with-label {
  position: absolute;
  top: -0.1875rem;
  left: 5rem;
}
