.glossary-nav {
  position: absolute;
  right: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.5;
  padding-top: rem(160px);

  @include breakpoint('lg') {
    display: flex;
  }

  &--fixed {
    position: fixed;
    top: 0;
  }
}

.bx--list__item {
  list-style-type: none !important;
  padding: 0;
  width: 100%;
  transition: all $transition--base;
}

.bx--list__item a {
  width: rem(60px);
  height: rem(32px);
  padding: rem(5px) 0 0 $spacing-md;
  display: block;
  justify-content: center;
  text-decoration: none;
  color: $text-02;
  @include type-style('body-short-02');
}

.bx--list__item:hover a {
  color: $text-01;
  background: $ui-02;
}

.bx--list__item.glossary-nav__item--active a {
  color: $text-01;
  background: $ui-03;
}
