.next-previous-wrapper {
  background: $ibm-colors__gray--90;
  color: $ibm-colors__white;
}

.next-previous-link {
  color: $ibm-colors__white;
  padding-bottom: 2em;
  padding-top: 2em;
  text-decoration: none;
  transition: 0.35s ease all;
}

.next-previous-link:hover {
  background: $ibm-colors__black;
  transition: 0.1s ease all;
}

.target-page-direction {
  display: block;
  @include type-style('body-short-01');
}

.target-page-name {
  display: block;
  @include type-style('heading-03');
}
