.next-previous-wrapper {
  background: #282828;
}

.next-previous-controls {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.next-previous-controls a {
  color: #ffffff;
  padding-left: 16px;
  transition: 0.35s ease all;
}

.next-previous-controls a:hover {
  background: #565656;
  box-shadow: -24px 0 0 #565656, 24px 0 0 #565656;
  transition: 0.1s ease all;
}

.next-previous-link {
  display: block;
  padding: 2em 0;
  flex: 1;
  text-decoration: none;
}

.next-previous-link--previous {
  margin-right: 16px;
}

.target-page-direction {
  display: block;
  font-size: rem(14px);
}

.target-page-name {
  display: block;
  font-size: rem(20px);
}
