.next-previous-controls {
  display: flex;
  width: 100%;
}

.next-previous-link {
  display: block;
  padding: 2em 0;
  flex: 1;
}

.next-previous-link-previous {

}

.next-previous-link-next {

}

.target-page-direction {

}

.target-page-name {

}