.image-component.no-caption {
  margin-bottom: rem(24px);
}

.image-component.white > *:not(.image-component__caption) {
  background: white;
}

.image-component.border > *:not(.image-component__caption) {
  border: 1px solid $ui-03;
}

p.image-component__caption {
  @include type-style('body-short-01');
  padding-top: rem(8px);
}
