// CSS styles here
// @include layer('raised');

#maincontent {
  padding-bottom: 7rem;

  @media all and (max-width: 600px) {
    padding-bottom: 14rem;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-item {
  position: relative;
  justify-content: space-around;
  padding: 16px;
  color: #152935;

  a {
    display: block;
    text-decoration: none;
  }

  &:after {
    position: absolute;
    content: '';
    top: 16px;
    height: 165px;
    left: 16px;
    right: 16px;
    background-color: #000;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
  }

  &:hover {
    &:after {
      opacity: 0.05;
      transition: opacity 300ms ease-out;
    }
  }
}

.flex-item img {
  background-color: #f5f7fa;
}

.component-item {
  margin-top: 20px;
  margin-bottom: 32px;
  display: flex;
}

.component-name {
  color: #152935;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  display: flex;
  margin-top: 10px;
}

.component-name:hover {
  color: #3d70b2;
}
