
// temporary until added to componnents
$active-ui: #bebebe;
$hover-ui: #e5e5e5;

.component-overview {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.component-item {
  display: flex;
  width: 33%;
  background: $ibm-colors__white;
  position: relative;
  transition: $transition--base;

  &:hover {
    background: $hover-ui;
  }

  &:active {
    background: $active-ui;
  }

  @include breakpoint('sm') {
    width: 100%;
    border-bottom: 1px solid $ibm-colors__gray--20;

    &:last-child {
      border: none;
    }
  }

  @include breakpoint('md') {
    width: 50%;
    border-bottom: none;
    border-right: 1px solid $ibm-colors__gray--20;

    // selects every 2nd item and removes right border
    &:nth-child(2n + 2) {
      border-right: none;
    }

    &:nth-child(n + 3) {
      border-top: 1px solid $ibm-colors__gray--20;
    }
  }

  @include breakpoint('lg') {
    width: 33%;
    border-bottom: none;
    border-top: none;
    border-right: 1px solid $ibm-colors__gray--20;

    &:nth-child(2n + 2) {
      border-right: 1px solid $ibm-colors__gray--20;
    }

    &:nth-child(3n) {
      border-right: none;
    }

    &:nth-child(n + 3) {
      border-top: none;
    }

    &:nth-child(n + 5) {
      border-top: 1px solid $ibm-colors__gray--20;
    }
  }

  @include breakpoint('xlg') {
    width: 25%;
    border-bottom: none;
    border-right: 1px solid $ibm-colors__gray--20;

    // selects every 3rd item and removes right border
    &:nth-child(4n + 4),
    &:nth-child(4n) {
      border-right: none;
    }

    &:nth-child(3n) {
      border-right: 1px solid $ibm-colors__gray--20;
    }
  }
}

.component-name {
  @include type-style('body-short-02');
  color: $text-01;
  text-decoration: none;
  text-align: left;
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
