$bright-blue: #3c6df0;
$dark-blue: #3057d5;
$brand-01: $dark-blue;

//---------------------------------------
// Carbon Components
//---------------------------------------
@import 'node_modules/carbon-components/scss/globals/scss/styles.scss';

//---------------------------------------
// Components
//---------------------------------------
@import '../components/markdown/markdown.scss';
@import '../components/global/PageHeader/page-header.scss';

//---------------------------------------
// Global styles
//---------------------------------------

body {
  background: $ui-01;
}
