$bright-blue: #3c6df0;
$dark-blue: #3057d5;
$brand-01: $dark-blue;

//---------------------------------------
// Carbon Components
//---------------------------------------
@import 'node_modules/carbon-components/scss/globals/scss/styles.scss';

//---------------------------------------
// Syntax
//---------------------------------------
// @import 'node_modules/prismjs/themes/prism.css';

//---------------------------------------
// Components
//---------------------------------------
@import '../components/markdown/markdown.scss';
@import '../components/global/PageHeader/page-header.scss';
@import '../components/global/PageTabs/page-tabs.scss';
@import '../components/global/PageContent/page-content.scss';
@import '../components/global/CodeSnippet/code-snippet.scss';
@import '../components/global/PageTable/page-table.scss';
@import '../components/global/SideNav/side-nav.scss';
@import '../components/global/SideNavToggleBtn/side-nav-toggle-btn.scss';

//---------------------------------------
// Global styles
//---------------------------------------

body {
  background: $ui-01;
}

.container {
  width: 100%;
  margin-left: 0;
  transition: $transition--base ease;
  overflow-x: hidden;

  @include breakpoint('840px') {
    margin-left: 12.5rem;
    width: calc(100% - 12.5rem);
  }
}

.container--expanded {
  width: 100%;
  margin-left: 0;
}
