.back-to-top {
  width: rem(48px);
  height: rem(48px);
  border-radius: rem(24px);
  background: $ibm-colors__gray-30;
  border-color: transparent;
  position: fixed;
  bottom: rem(50px);
  right: rem(30px);
  cursor: pointer;
  z-index: 9999;

  svg {
    fill: $ibm-colors__black;
  }

  &:hover {
    background: $ibm-colors__gray-90;
    border-color: transparent;

    svg {
      fill: $ibm-colors__white;
    }
  }
}
