//---------------------------------------
// Header styles
//---------------------------------------
.bx--header__menu-trigger {
  @include carbon--breakpoint('lg') {
    display: none;
  }
}

.bx--header .bx--header__name {
  font-weight: 400;
}

.bx--header .bx--header__name span {
  font-weight: 600;
}
